version: '3.8'   # ← 이 줄은 최근 Compose V2에선 경고만 뜨니 삭제해도 무방

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    # container_name: elasticsearch   ← 삭제
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
      - ./docker/elasticsearch/userdict_ko.txt:/usr/share/elasticsearch/config/userdict_ko.txt
      - ./docker/elasticsearch/synonyms.txt:/usr/share/elasticsearch/config/synonyms.txt
    ulimits:
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - IPC_LOCK
    command: >
      bash -c "
        if [ ! -d /usr/share/elasticsearch/plugins/analysis-nori ]; then
          elasticsearch-plugin install --batch analysis-nori;
        fi &&
        /usr/local/bin/docker-entrypoint.sh
      "

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    # container_name: kibana         ← 삭제
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  redis:
    image: redis:7.2
    # container_name: redis          ← 삭제
    ports:
      - "6379:6379"

  loki:
    image: grafana/loki:2.9.8
    ports:
      - "3100:3100"
    volumes:
      #- /home/ubuntu/MJS_BACKEND/MJS-BACK-SECURITY/loki-config.yml:/etc/loki/loki-config.yml
      - ./MJS-BACK-SECURITY/loki-config.yml:/etc/loki/config.yml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/config.yml
    restart: unless-stopped


  promtail:
    image: grafana/promtail:latest
    volumes:
      - ./MJS-BACK-SECURITY/promtail-config.yml:/etc/promtail/config.yml:ro
      - /home/ubuntu/MJS_BACKEND/logs:/var/log/mjs_backend_logs:ro   # ✅ Spring Boot 로그 경로 매핑
      - promtail_positions:/tmp
    depends_on:
      - loki
    command: -config.file=/etc/promtail/config.yml
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.5
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  esdata:
  loki_data:
  grafana_data:
  promtail_positions:
