{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Admin API",
    "version": "v1.0.0",
    "description": "명지대학교 학생회 어드민(ADMIN) 계정 등록 및 관리 기능을 위한 API 명세서입니다."
  },
  "servers": [
    {
      "url": "http://api.mjsearch.org:8080/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Admin",
      "description": "학생회 어드민 계정 등록 및 수정, 검증 기능"
    }
  ],
  "paths": {
    "/admin/register": {
      "post": {
        "tags": ["Admin"],
        "summary": "초기 관리자 계정 등록",
        "description": "OPERATOR가 시스템에 최초로 학생회 관리자(ADMIN) 계정을 등록합니다. 해당 계정은 특정 학과와 연결되며, 관리자 권한이 부여됩니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentCouncilInitRegistrationRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "초기 관리자 등록 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/update": {
      "patch": {
        "tags": ["Admin"],
        "summary": "관리자 정보 수정",
        "description": "학생회 관리자 계정과 해당 학과 정보를 동시에 수정합니다. 이름, 학과명, 슬로건, 인스타그램, 공식 홈페이지 URL 등 다양한 속성을 갱신할 수 있습니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentCouncilUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "관리자 정보 수정 완료",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStudentCouncilResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/admin/validate": {
      "get": {
        "tags": ["Admin"],
        "summary": "초기 관리자 계정 여부 확인",
        "description": "이메일을 기준으로 해당 사용자가 시스템에 등록된 초기 관리자(ADMIN)인지 확인합니다. 등록된 경우 true, 없거나 일반 사용자인 경우 false를 반환합니다.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "확인할 관리자 이메일 주소",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검증 결과 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBoolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StudentCouncilInitRegistrationRequestDTO": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "admin@mju.ac.kr" },
          "contactEmail": { "type": "string", "format": "email", "example": "contact@mjustudent.org" },
          "password": { "type": "string", "example": "hellomjs1!" }
        }
      },
      "StudentCouncilUpdateDTO": {
        "type": "object",
        "required": ["email", "name", "password", "departmentName", "college"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "admin@mju.ac.kr" },
          "name": { "type": "string", "example": "MJU 학생회" },
          "password": { "type": "string", "example": "newSecurePw1!" },
          "college": { "type": "string", "example": "AI_SOFTWARE" },
          "departmentName": { "type": "string", "example": "DATA_SCIENCE" },
          "profileImageUrl": { "type": "string", "example": "https://cdn.mjsearch.org/profiles/admin.jpeg" },
          "slogan": { "type": "string", "example": "함께, 바꾸다!" },
          "description": { "type": "string", "example": "명지대학교 학생들을 위한 대표 조직입니다." },
          "instagramUrl": { "type": "string", "example": "https://instagram.com/mju_student_council" },
          "homepageUrl": { "type": "string", "example": "https://student.mju.ac.kr" }
        }
      },
      "StudentCouncilResponseDTO": {
        "type": "object",
        "properties": {
          "adminEmail": { "type": "string", "example": "admin@mju.ac.kr" },
          "name": { "type": "string", "example": "명지대학교 학생회" },
          "studentCouncilEmail": { "type": "string", "example": "contact@mjustudent.org" },
          "college": { "type": "string", "example": "AI_SOFTWARE" },
          "departmentName": { "type": "string", "example": "DATA_SCIENCE" },
          "profileImageUrl": { "type": "string", "example": "https://cdn.mjsearch.org/profiles/logo.png" },
          "slogan": { "type": "string", "example": "우리의 미래를 위해!" },
          "description": { "type": "string", "example": "학생들과 함께 성장하는 학생회입니다." },
          "instagramUrl": { "type": "string", "example": "https://instagram.com/mju_student" },
          "homepageUrl": { "type": "string", "example": "https://student.mju.ac.kr" }
        }
      },
      "ApiResponseString": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "string", "example": "초기 어드민 계정이 성공적으로 등록되었습니다." },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseStudentCouncilResponseDTO": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/StudentCouncilResponseDTO" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseBoolean": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "boolean", "example": true },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
