{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU User API",
    "version": "v1.0.0",
    "description": "마이페이지, 회원 관리, 이메일 인증 기능을 위한 API 명세서입니다."
  },
  "servers": [
    {
      "url": "http://mjsearch.org:8080/api/v1"
    }
  ],
  "tags": [
    { "name": "Profile", "description": "마이페이지 관련 API" },
    { "name": "Member", "description": "회원 CRUD 및 인증 API" },
    { "name": "Email", "description": "회원 가입 시 이메일 인증 기능" }
  ],
  "paths": {
    "/profile": {
      "get": {
        "tags": ["Profile"],
        "summary": "마이페이지 통계 조회",
        "description": "로그인한 회원이 작성한 글, 댓글, 좋아요(찜한 게시글) 개수를 반환합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer 형식의 Access Token"
          }
        ],
        "responses": {
          "200": {
            "description": "회원 통계 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "nickname": { "type": "string", "example": "마루명치" },
                        "postCount": { "type": "integer", "example": 11 },
                        "commentCount": { "type": "integer", "example": 11 },
                        "likedPostCount": { "type": "integer", "example": 4 }
                      },
                      "required": ["nickname", "postCount", "commentCount", "likedPostCount"]
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "nickname": "마루명치",
                    "postCount": 11,
                    "commentCount": 11,
                    "likedPostCount": 4
                  },
                  "timestamp": "2025-04-05T17:38:17.272249"
                }
              }
            }
          }
        }
      }
    },
    "/profile/posts": {
      "get": {
        "tags": ["Profile"],
        "summary": "내가 쓴 게시글 목록 조회",
        "description": "로그인한 회원이 작성한 게시글 목록을 반환합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer Access Token"
          }
        ],
        "responses": {
          "200": {
            "description": "내 게시글 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PostItem" }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    {
                      "uuid": "e4ea08f5-02ed-4179-a62a-14a490d41a81",
                      "title": "미리보기 잘 되는지 좀 보자",
                      "previewContent": "가나다라마…",
                      "contentImages": [],
                      "viewCount": 0,
                      "published": true,
                      "publishedAt": "2025-03-31T11:00:13.295702",
                      "createdAt": "2025-03-31T11:00:13.297907",
                      "updatedAt": "2025-03-31T11:00:13.297949",
                      "likeCount": 0,
                      "commentCount": 0,
                      "author": "마루명치",
                      "liked": false
                    }
                  ],
                  "timestamp": "2025-04-05T17:32:02.375965"
                }
              }
            }
          }
        }
      }
    },
    "/profile/comments": {
      "get": {
        "tags": ["Profile"],
        "summary": "내가 댓글 단 게시글 조회",
        "description": "내가 작성한 댓글이 포함된 게시글들을 목록 형태로 반환합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer Access Token"
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 단 게시글 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ProfileCommentItem" }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    {
                      "boardUuid": "b3604b00-ef3c-4be0-bc33-3508f76ee4cd",
                      "boardTitle": "미리보기 잘 되는지 좀 보자",
                      "boardPreviewContent": "가나다라마…",
                      "commentUuid": "318e7726-06a1-431c-9b5d-3e910bfcce4e",
                      "commentPreviewContent": "나는 댓글냠냠…"
                    }
                  ],
                  "timestamp": "2025-04-05T17:33:26.870871"
                }
              }
            }
          }
        }
      }
    },
    "/profile/liked_posts": {
      "get": {
        "tags": ["Profile"],
        "summary": "내가 좋아요 누른 게시글 조회",
        "description": "내가 찜(좋아요)한 게시글들을 목록 형태로 조회합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer Access Token"
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요 게시글 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PostItem" }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    {
                      "uuid": "b3604b00-ef3c-4be0-bc33-3508f76ee4cd",
                      "title": "미리보기 잘 되는지 좀 보자",
                      "previewContent": "가나다라마…",
                      "contentImages": [],
                      "viewCount": 0,
                      "published": true,
                      "publishedAt": "2025-03-31T11:01:08.101739",
                      "createdAt": "2025-03-31T11:01:08.103539",
                      "updatedAt": "2025-04-05T17:36:35.453667",
                      "likeCount": 1,
                      "commentCount": 1,
                      "author": "마루명치",
                      "liked": true
                    }
                  ],
                  "timestamp": "2025-04-05T17:36:41.075653"
                }
              }
            }
          }
        }
      }
    },
    "/members": {
      "get": {
        "tags": ["Member"],
        "summary": "회원 목록 조회 (페이징)",
        "description": "관리자용: 전체 회원 정보를 페이징 처리하여 조회합니다.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": {
            "description": "회원 페이지 반환",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MemberPage" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Member"],
        "summary": "회원 가입",
        "description": "신규 회원을 등록합니다. 비밀번호는 bcrypt로 암호화되어 저장됩니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회원 생성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MemberCreateResponse" }
              }
            }
          }
        }
      }
    },
    "/members/info": {
      "get": {
        "tags": ["Member"],
        "summary": "내 정보 조회",
        "description": "로그인한 회원의 기본 정보를 조회합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 반환",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MemberInfoResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Member"],
        "summary": "내 정보 수정",
        "description": "회원 정보(비밀번호 제외)를 수정합니다. 이메일을 변경하면 안 됩니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정된 회원 정보 반환",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MemberInfoResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Member"],
        "summary": "회원 탈퇴",
        "description": "비밀번호 확인 후 회원 정보를 삭제합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": { "type": "string" }
                },
                "required": ["password"]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "성공적인 탈퇴 (No Content)"
          }
        }
      }
    },
    "/members/info/password": {
      "patch": {
        "tags": ["Member"],
        "summary": "비밀번호 변경",
        "description": "현재 비밀번호와 새 비밀번호를 입력하여 비밀번호를 변경합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer Token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": { "type": "string" },
                  "newPassword": { "type": "string" }
                },
                "required": ["password", "newPassword"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "비밀번호 변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "data": { "type": "string", "nullable": true },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": null,
                  "timestamp": "2025-02-11T03:23:16.761Z"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Member"],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인하고 accessToken과 refreshToken을 발급받습니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": { "type": "string" },
                    "refreshToken": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Member"],
        "summary": "로그아웃",
        "description": "로그아웃 처리 후 메시지를 반환합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bearer Token"
          }
        ],
        "responses": {
          "200": {
            "description": "로그아웃 성공 메시지",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" } } } } }
          }
        }
      }
    },
    "/auth/reissue": {
      "post": {
        "tags": ["Member"],
        "summary": "토큰 재발급",
        "description": "refresh token을 통해 새로운 access token을 발급합니다.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "재발급 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReissueResponse" } } }
          },
          "400": {
            "description": "토큰 검증 실패",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "integer" }, "error": { "type": "string" }, "message": { "type": "string" } } } } }
          }
        }
      }
    },
    "/member/email/verify": {
      "post": {
        "tags": ["Email"],
        "summary": "이메일 인증코드 발송",
        "description": "회원가입 시 이메일 인증코드를 발송합니다. 5분간 유효하며 재발급 시 최신 코드만 유효합니다.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "email": { "type": "string" } }, "required": ["email"] } } }
        },
        "responses": {
          "200": {
            "description": "인증메일 발송 완료",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "status": { "type": "string" }, "data": { "type": "string" }, "timestamp": { "type": "string", "format": "date-time" } } },
                "example": { "status": "API 요청 성공", "data": "인증 코드가 이메일로 발송되었습니다.", "timestamp": "2025-04-14T15:55:35.34822" }
              }
            }
          }
        }
      }
    },
    "/member/email/check": {
      "post": {
        "tags": ["Email"],
        "summary": "이메일 인증코드 체크",
        "description": "회원가입 시 받은 인증코드를 검증합니다. 유효 시간 5분, 재발급 시 최신 코드만 허용.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "email": { "type": "string" }, "code": { "type": "string" } }, "required": ["email", "code"] } } }
        },
        "responses": {
          "200": {
            "description": "인증 결과 반환",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "status": { "type": "string" }, "data": { "type": "object", "properties": { "email": { "type": "string" }, "matched": { "type": "boolean" } } }, "timestamp": { "type": "string", "format": "date-time" } } },
                "example": { "status": "API 요청 성공", "data": { "email": "skaqhfk00@mju.ac.kr", "matched": true }, "timestamp": "2025-04-14T15:56:36.118848" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostItem": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "previewContent": { "type": "string" },
          "contentImages": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "viewCount": { "type": "integer" },
          "published": { "type": "boolean" },
          "publishedAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "likeCount": { "type": "integer" },
          "commentCount": { "type": "integer" },
          "author": { "type": "string" },
          "liked": { "type": "boolean" }
        }
      },
      "ProfileCommentItem": {
        "type": "object",
        "properties": {
          "boardUuid": { "type": "string", "format": "uuid" },
          "boardTitle": { "type": "string" },
          "boardPreviewContent": { "type": "string" },
          "commentUuid": { "type": "string", "format": "uuid" },
          "commentPreviewContent": { "type": "string" }
        }
      },
      "MemberPage": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "content": { "type": "array", "items": { "$ref": "#/components/schemas/MemberItem" } },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "sort": {
                "type": "object",
                "properties": {
                  "empty": { "type": "boolean" },
                  "sorted": { "type": "boolean" },
                  "unsorted": { "type": "boolean" }
                }
              },
              "first": { "type": "boolean" },
              "last": { "type": "boolean" },
              "numberOfElements": { "type": "integer" },
              "empty": { "type": "boolean" }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "MemberItem": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "gender": { "type": "string", "enum": ["MALE", "FEMALE", "OTHER"] },
          "nickname": { "type": "string" },
          "department": { "type": "string" },
          "studentNumber": { "type": "integer" }
        }
      },
      "MemberCreateRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" },
          "gender": { "type": "string", "enum": ["MALE","FEMALE","OTHER"] },
          "nickname": { "type": "string" },
          "department": { "type": "string" },
          "studentNumber": { "type": "integer" }
        },
        "required": ["name", "email", "password"]
      },
      "MemberCreateResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "accessToken": { "type": "string" },
              "refreshToken": { "type": "string" }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "MemberInfoResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": { "$ref": "#/components/schemas/MemberItem" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "MemberUpdateRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "nickname": { "type": "string" },
          "department": { "type": "string" },
          "gender": { "type": "string", "enum": ["MALE","FEMALE","OTHER"] },
          "studentNumber": { "type": "integer" }
        }
      },
      "ReissueResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "accessToken": { "type": "string" }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
