{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Campus API",
    "version": "v1.0.0",
    "description": "명지대학교 식단, 공지사항, 명대신문 기사, 학사일정, 명지방송국 유튜브 정보를 제공하는 크롤링 기반 Campus API 명세서입니다."
  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Department",
      "description": "학과별 정보 조회 기능"
    },
    {
      "name": "Menu",
      "description": "학교 식단 정보 제공 및 크롤링 기능"
    },
    {
      "name": "Notice",
      "description": "명지대학교 공지사항 목록 조회 기능"
    },
    {
      "name": "News",
      "description": "명대신문 기사 조회 및 크롤링/삭제 기능"
    },
    {
      "name": "MJU_Calendar",
      "description": "명지대학교 학사일정 조회 기능"
    },
    {
      "name": "Broadcast",
      "description": "명지대학교 방송국 영상 크롤링 및 목록 조회 기능"
    }
  ],
  "paths": {

    "/departments/info": {
      "get": {
        "tags": ["Department"],
        "summary": "학과 정보 조회",
        "description": "College + DepartmentName 조합으로 특정 학과의 기본 정보를 조회합니다.",
        "parameters": [
          {
            "name": "college",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["HUMANITIES","SOCIAL_SCIENCES","BUSINESS","AI_SOFTWARE","FUTURE_CONVERGENCE","HONOR","OTHER"] }
          },
          {
            "name": "department",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "학과 정보 반환",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "college": "AI_SOFTWARE",
                    "departmentName": "DATA_SCIENCE",
                    "academicOfficePhone": "02-300-5161",
                    "instagramUrl": "https://instagram.com/mju_datascience",
                    "homepageUrl": "https://ds.mju.ac.kr"
                  },
                  "timestamp": "2026-02-12T14:30:35.2645282"
                }
              }
            }
          }
        }
      }
    },

    "/departments/schedules": {
      "get": {
        "tags": ["Department"],
        "summary": "학과 일정 조회",
        "description": "특정 학과의 일정 정보를 조회합니다.",
        "parameters": [
          {
            "name": "college",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["HUMANITIES","SOCIAL_SCIENCES","BUSINESS","AI_SOFTWARE","FUTURE_CONVERGENCE","HONOR","OTHER"] }
          },
          {
            "name": "department",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "일정 반환",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "status": "API 요청 성공",
                    "data": {
                      "schedules": [
                        {
                          "uuid": "73afa15d-05e4-4a69-94f1-5586a6b6c84c",
                          "title": "중간고사 일정",
                          "startDateTime": "2026-02-11T00:00:00",
                          "endDateTime": "2026-08-13T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "0de09123-01d1-42ca-bf38-67a9172c8fb1",
                          "title": "중간고사 일정",
                          "startDateTime": "2026-02-11T00:00:00",
                          "endDateTime": "2026-08-13T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "1bc166b2-b5ac-4c9d-8bf5-20cc8a8cc11a",
                          "title": "중간고사 일정",
                          "startDateTime": "2026-02-14T00:00:00",
                          "endDateTime": "2026-08-13T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "69733809-7b18-4334-ac6b-4a6cd7f6f8ad",
                          "title": "중간고사 일정",
                          "startDateTime": "2026-02-14T00:00:00",
                          "endDateTime": "2026-08-16T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "8504c548-1cff-45e8-a10f-cc5bf692b304",
                          "title": "봄이왔어요",
                          "startDateTime": "2026-02-14T00:00:00",
                          "endDateTime": "2026-08-16T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "ff338097-ac67-4e89-be71-6d6876a007f7",
                          "title": "봄이왔어요",
                          "startDateTime": "2026-02-14T00:00:00",
                          "endDateTime": "2026-08-16T00:00:00",
                          "content": null
                        },
                        {
                          "uuid": "1c28e053-68a5-4967-b51f-c8a8b83624b0",
                          "title": "봄이왔어요2",
                          "startDateTime": "2026-02-14T00:00:00",
                          "endDateTime": "2026-08-16T00:00:00",
                          "content": null
                        }
                      ]
                    },
                    "timestamp": "2026-02-12T17:37:12.1710268"
                  }
                }
              }
            }
          }
        }
      }
    },

    "/departments/student-council/notices": {
      "get": {
        "tags": ["Department"],
        "summary": "학생회 공지 목록 조회",
        "description": "특정 학과의 학생회 공지사항을 페이징 형태로 조회합니다.",
        "parameters": [
          {
            "name": "college",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["HUMANITIES","SOCIAL_SCIENCES","BUSINESS","AI_SOFTWARE","FUTURE_CONVERGENCE","HONOR","OTHER"] }
          },
          {
            "name": "department",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 5 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "example": "publishedAt,desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "공지 목록 반환",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "content": [
                      {
                        "noticeUuid": "625d425f-aeee-452d-845d-c682f953ad0e",
                        "title": null,
                        "thumbnailUrl": "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                        "authorNickname": "kimgusqls1@mju.ac.kr",
                        "publishedAt": "2026-02-12T20:28:49.639196"
                      },
                      {
                        "noticeUuid": "581fe2cc-8456-457e-aa10-11273fbc0794",
                        "title": null,
                        "thumbnailUrl": "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                        "authorNickname": "kimgusqls1@mju.ac.kr",
                        "publishedAt": "2026-02-12T20:26:21.703557"
                      },
                      {
                        "noticeUuid": "662f8000-1fb7-4f14-b0e9-7cfb13bb1427",
                        "title": "스타벅스 쏘기로 했어요~?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!",
                        "thumbnailUrl": "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                        "authorNickname": "kimgusqls1@mju.ac.kr",
                        "publishedAt": "2026-02-12T20:26:10.079364"
                      },
                      {
                        "noticeUuid": "5f731259-80eb-4bf4-b859-4f12da27781b",
                        "title": "스타벅스 쏘기로 했어요~?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!",
                        "thumbnailUrl": "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                        "authorNickname": "kimgusqls1@mju.ac.kr",
                        "publishedAt": "2026-02-12T20:12:50.100489"
                      },
                      {
                        "noticeUuid": "0f12ebae-0a53-4f16-bb5b-113c1136bb22",
                        "title": "스타벅스 쏘기로 했어요~?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!",
                        "thumbnailUrl": "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                        "authorNickname": "kimgusqls1@mju.ac.kr",
                        "publishedAt": "2026-02-12T19:55:03.355984"
                      }
                    ],
                    "pageable": {
                      "pageNumber": 0,
                      "pageSize": 5,
                      "sort": {
                        "empty": true,
                        "sorted": false,
                        "unsorted": true
                      },
                      "offset": 0,
                      "paged": true,
                      "unpaged": false
                    },
                    "last": true,
                    "totalElements": 5,
                    "totalPages": 1,
                    "size": 5,
                    "number": 0,
                    "sort": {
                      "empty": true,
                      "sorted": false,
                      "unsorted": true
                    },
                    "first": true,
                    "numberOfElements": 5,
                    "empty": false
                  },
                  "timestamp": "2026-02-12T20:43:40.6767707"
                }
              }
            }
          }
        }
      }
    },

    "/departments/student-council/notices/{noticeUuid}": {
      "get": {
        "tags": ["Department"],
        "summary": "학생회 공지 상세 조회",
        "description": "학과 검증을 포함하여 특정 공지사항의 상세 내용을 조회합니다.",
        "parameters": [
          {
            "name": "noticeUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "공지 상세 반환",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "noticeUuid": "662f8000-1fb7-4f14-b0e9-7cfb13bb1427",
                    "title": "스타벅스 쏘기로 했어요~?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!?!",
                    "content": "오늘 저희는 스타벅스를 쏘기로 했어요. 엄청나지 않아요~?!?!?!?!?!?!?!?",
                    "authorNickname": "kimgusqls1@mju.ac.kr",
                    "publishedAt": "2026-02-12T20:26:10.079364",
                    "imageUrls": [
                      "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg",
                      "https://image.istarbucks.co.kr/upload/banner/wrlsbnr/NSBiPV_20260202153856077.jpg"
                    ]
                  },
                  "timestamp": "2026-02-14T13:29:43.224358"
                }
              }
            }
          }
        }
      }
    },

    "/menus/crawling": {
      "post": {
        "tags": ["Menu"],
        "summary": "식단 크롤링 실행",
        "description": "식단 정보를 웹 크롤링하여 저장합니다. 프론트엔드에서 별도 처리 필요 없이 호출만으로 최신 식단을 가져옵니다.",
        "responses": {
          "200": {
            "description": "크롤링된 식단 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MenuItem"
                      }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "menuExample": {
                    "summary": "이번주 식단 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": [
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "LUNCH",
                          "meals": [
                            "사골떡국",
                            "쌀밥",
                            "생선가스&칠리소스",
                            "두부양념조림",
                            "해초샐러드",
                            "깍두기",
                            "따뜻한 유자차"
                          ]
                        }
                      ],
                      "timestamp": "2025-02-12T14:59:54.3362998"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/menus": {
      "get": {
        "tags": ["Menu"],
        "summary": "주간 식단 조회",
        "description": "DB에 저장된 이번 주 식단 정보를 조회합니다. 크롤링이 최신이 아니면 `/menus/crawling` 호출 필요합니다.",
        "responses": {
          "200": {
            "description": "주간 식단 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MenuItem" }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "weeklyMenu": {
                    "summary": "한 주 식단 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": [
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "BREAKFAST",
                          "meals": ["등록된 식단 내용이 없습니다."]
                        },
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "LUNCH",
                          "meals": ["사골떡국", "쌀밥", "생선가스&칠리소스"]
                        }
                      ],
                      "timestamp": "2025-02-12T14:59:54.3362998"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices": {
      "get": {
        "tags": ["Notice"],
        "summary": "공지사항 목록 조회",
        "description": "카테고리, 연도, 페이지네이션 및 정렬을 지원하는 명지대학교 공지사항 목록 조회 API입니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["all", "general","academic","scholarship","career","activity","rule"]
            },
            "required": true,
            "description": "공지사항 카테고리"
          },
          {
            "name": "year",
            "in": "query",
            "schema": { "type": "integer", "default": 2025 },
            "description": "조회할 연도 (기본: 현재연도)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "default": 15 },
            "description": "페이지당 항목 수"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc","desc"], "default": "desc" },
            "description": "날짜 정렬 방향"
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 페이지 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticePage"
                },
                "examples": {
                  "noticeExample": {
                    "summary": "학칙개정 공지사항 예시",
                    "value": {
                      "content": [
                        {
                          "title": "[재맞고]2025년 예비 취준생 안내",
                          "date": "2025.04.08",
                          "category": "career",
                          "link": "https://.../artclView.do"
                        }
                      ],
                      "pageable": {
                        "pageNumber": 0,
                        "pageSize": 15,
                        "sort": {"empty":false,"sorted":true,"unsorted":false},
                        "offset": 0,"paged":true,"unpaged":false
                      },
                      "last": false,
                      "totalElements": 670,
                      "totalPages": 45,
                      "first": true,
                      "numberOfElements": 1,
                      "empty": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
  "/calendar": {
    "get": {
      "tags": ["MJU_Calendar"],
      "summary": "학사일정 목록 조회 (페이지네이션 + 연도 필터 + 정렬)",
      "description": "명지대학교의 학사일정 데이터를 페이지 단위로 조회합니다.\n\n\n- 기본적으로 `startDate` 기준 오름차순 정렬됩니다.\n\n- `year` 값을 넘기면 해당 연도의 일정만 필터링합니다.\n\n- `sortBy` 필드는 `startDate`, `endDate`, `year` 등이 가능합니다.\n\n- 클라이언트에서는 페이지를 1부터 시작해도 되며, 내부적으로는 0부터 계산됩니다.",
      "parameters": [
        {
          "name": "page",
          "in": "query",
          "description": "페이지 번호 (기본값: 0)\n\n0부터 시작하며 클라이언트에서는 1부터 보내고 내부에서 -1 처리 가능",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 0
          }
        },
        {
          "name": "size",
          "in": "query",
          "description": "페이지당 항목 수 (기본값: 10)",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 10
          }
        },
        {
          "name": "sortBy",
          "in": "query",
          "description": "정렬 기준 필드 (예: startDate, endDate, year 등)",
          "required": false,
          "schema": {
            "type": "string",
            "default": "startDate"
          }
        },
        {
          "name": "sortDir",
          "in": "query",
          "description": "정렬 방향 (asc 또는 desc)",
          "required": false,
          "schema": {
            "type": "string",
            "default": "asc"
          }
        },
        {
          "name": "year",
          "in": "query",
          "description": "특정 연도 필터링 (예: 2025)",
          "required": false,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "학사일정 데이터 페이지 형식으로 반환",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResponse"
              },
              "examples": {
                "calendarPageExample": {
                  "summary": "학사일정 페이징 응답 예시",
                  "value": {
                    "status": "API 요청 성공",
                    "data": {
                      "content": [
                        {
                          "year": 2020,
                          "startDate": "2020-01-01",
                          "endDate": "2020-01-01",
                          "description": "신정"
                        },
                        {
                          "year": 2020,
                          "startDate": "2020-01-06",
                          "endDate": "2020-01-10",
                          "description": "[대학원] 과정변경 원서접수기간"
                        }
                      ],
                      "pageable": {
                        "pageNumber": 0,
                        "pageSize": 10,
                        "offset": 0,
                        "paged": true,
                        "unpaged": false,
                        "sort": {
                          "sorted": true,
                          "unsorted": false,
                          "empty": false
                        }
                      },
                      "totalElements": 470,
                      "totalPages": 47,
                      "size": 10,
                      "number": 0,
                      "first": true,
                      "last": false,
                      "numberOfElements": 10,
                      "empty": false,
                      "sort": {
                        "sorted": true,
                        "unsorted": false,
                        "empty": false
                      }
                    },
                    "timestamp": "2025-07-16T23:54:19.6712228"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/calendar/monthly": {
      "get": {
        "tags": ["MJU_Calendar"],
        "summary": "월별 학사일정 조회 (교차기간 포함, 카테고리별 분류)",
        "description": "요청한 연/월에 걸치는 학사일정을 조회하고, **전체(공통)** / **학부** / **대학원** / **휴일** 카테고리로 분류해 반환합니다.\n\n- 예: `2025-09-29 ~ 2025-10-03`은 10월 요청 시 포함됩니다.\n- `all`에는 학부/대학원 공통이거나 태그 없는 항목만 담깁니다.\n- `holiday`는 공휴일·연휴·방학 등 **수업/시험/강의평가 등 학사활동이 아닌** 쉬는 날만 포함합니다.",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도 (예: 2025)",
            "required": true,
            "schema": { "type": "integer", "minimum": 2000, "maximum": 2100 }
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월 (1~12)",
            "required": true,
            "schema": { "type": "integer", "minimum": 1, "maximum": 12 }
          }
        ],
        "responses": {
          "200": {
            "description": "월별 학사일정 카테고리 응답",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse_MonthlyResponse" },
                "examples": {
                  "monthlyExample": {
                    "summary": "월별 응답 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "year": 2025,
                        "month": 10,
                        "all": [
                          {
                            "id": 441,
                            "startDate": "2025-09-29",
                            "endDate": "2025-10-03",
                            "description": "중간 강의평가 기간"
                          }
                        ],
                        "undergrad": [
                          {
                            "id": 448,
                            "startDate": "2025-10-20",
                            "endDate": "2025-10-24",
                            "description": "중간고사 기간"
                          }
                        ],
                        "graduate": [
                          {
                            "id": 445,
                            "startDate": "2025-10-13",
                            "endDate": "2025-10-17",
                            "description": "석사·박사학위 청구논문 심사 신청"
                          },
                          {
                            "id": 446,
                            "startDate": "2025-10-13",
                            "endDate": "2025-10-24",
                            "description": "학위청구논문 연구계획서 제출"
                          },
                          {
                            "id": 447,
                            "startDate": "2025-10-13",
                            "endDate": "2025-11-07",
                            "description": "2024학년도 전기 신・편입생 모집"
                          }
                        ],
                        "holiday": [
                          {
                            "id": 442,
                            "startDate": "2025-10-03",
                            "endDate": "2025-10-03",
                            "description": "개천절"
                          },
                          {
                            "id": 443,
                            "startDate": "2025-10-05",
                            "endDate": "2025-10-08",
                            "description": "추석 연휴(대체휴일 포함)"
                          },
                          {
                            "id": 444,
                            "startDate": "2025-10-09",
                            "endDate": "2025-10-09",
                            "description": "한글날"
                          }
                        ]
                      },
                      "timestamp": "2025-09-29T07:09:32.5421584"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (예: month가 1~12 범위 외)",
            "content": {
              "application/json": {
                "examples": {
                  "invalidMonth": {
                    "summary": "월 범위 오류 예시",
                    "value": {
                      "status": 400,
                      "error": "INVALID_REQUEST",
                      "message": "[MJS] 요청된 값이 잘못되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/news": {
      "get": {
        "tags": ["News"],
        "summary": "명대신문 기사 조회",
        "description": "명대신문 기사 목록을 조회하며 category를 생략하거나 'ALL'로 지정하면 전체 기사, 'REPORT' 또는 'SOCIETY'를 지정하면 해당 카테고리 기사만 페이지네이션하여 반환합니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT", "SOCIETY", "ALL"]
            },
            "required": false,
            "description": "조회할 기사 카테고리 (미지정 또는 'ALL'일 경우 전체 조회)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false,
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "required": false,
            "description": "페이지당 기사 수"
          }
        ],
        "responses": {
          "200": {
            "description": "기사 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfPageOfNewsItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["News"],
        "summary": "명대신문 크롤링 실행",
        "description": "특정 카테고리 또는 전체 카테고리에 대해 명대신문 기사를 크롤링하여 저장합니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT","SOCIETY"],
              "nullable": true
            },
            "required": false,
            "description": "크롤링할 기사 카테고리 (미지정 시 전체 크롤링)"
          }
        ],
        "responses": {
          "200": {
            "description": "크롤링 작업 완료 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                },
                "examples": {
                  "emptyRes": {
                    "summary": "비어있는 리스트",
                    "value": []
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["News"],
        "summary": "명대신문 기사 삭제",
        "description": "특정 카테고리 또는 전체 카테고리의 기사를 삭제합니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT","SOCIETY"],
              "nullable": true
            },
            "required": false,
            "description": "삭제할 기사 카테고리 (미지정 시 전체 삭제)"
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 작업 완료 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                },
                "examples": {
                  "emptyRes": {
                    "summary": "비어있는 리스트",
                    "value": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broadcast": {
      "get": {
        "tags": ["Broadcast"],
        "summary": "방송 영상 목록 조회",
        "description": "명지대학교 방송국의 전체 영상 목록을 조회합니다. 페이지네이션 및 최신순 정렬을 지원합니다.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "default": 9 },
            "description": "페이지당 항목 수"
          }
        ],
        "responses": {
          "200": {
            "description": "방송 영상 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/BroadcastItem" }
                        },
                        "pageable": { "type": "object" },
                        "totalElements": { "type": "integer" },
                        "totalPages": { "type": "integer" },
                        "number": { "type": "integer" },
                        "size": { "type": "integer" },
                        "first": { "type": "boolean" },
                        "last": { "type": "boolean" },
                        "numberOfElements": { "type": "integer" },
                        "empty": { "type": "boolean" }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "broadcastList": {
                    "summary": "방송 영상 목록 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "content": [
                          {
                            "title": "[오디오 콘텐츠] 슬기로운 서울생활 8화",
                            "url": "https://www.youtube.com/watch?v=3_60kdx3xKg",
                            "thumbnailUrl": "https://i.ytimg.com/vi/3_60kdx3xKg/hqdefault.jpg",
                            "playlistTitle": "슬기로운 서울생활",
                            "publishedAt": "2025-07-07T06:25:40"
                          },
                          {
                            "title": "[제36회 백마가요제👖] 참가자 팀 비하인드",
                            "url": "https://www.youtube.com/watch?v=9WrW1sV28iA",
                            "thumbnailUrl": "https://i.ytimg.com/vi/9WrW1sV28iA/hqdefault.jpg",
                            "playlistTitle": null,
                            "publishedAt": "2025-07-25T09:02:00"
                          }
                        ],
                        "pageable": {
                          "pageNumber": 0,
                          "pageSize": 9,
                          "sort": {
                            "empty": false,
                            "sorted": true,
                            "unsorted": false
                          },
                          "offset": 0,
                          "paged": true,
                          "unpaged": false
                        },
                        "last": true,
                        "totalPages": 1,
                        "totalElements": 2,
                        "first": true,
                        "size": 9,
                        "number": 0,
                        "sort": {
                          "empty": false,
                          "sorted": true,
                          "unsorted": false
                        },
                        "numberOfElements": 2,
                        "empty": false
                      },
                      "timestamp": "2025-07-21T20:48:58.1067"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broadcast/sync": {
      "post": {
        "tags": ["Broadcast"],
        "summary": "방송 영상 동기화",
        "description": "명지대학교 방송국 유튜브 채널에서 전체 영상을 크롤링하여 저장합니다.",
        "responses": {
          "200": {
            "description": "동기화 완료 메시지 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "string", "example": "명지대학교 방송국 전체 영상 동기화 완료" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "syncResult": {
                    "summary": "동기화 결과 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": "명지대학교 방송국 전체 영상 동기화 완료",
                      "timestamp": "2025-07-21T20:48:58.1067"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {

      "MenuItem": {
        "type": "object",
        "properties": {
          "date": { "type": "string", "example": "02.10 ( 월 )" },
          "menuCategory": { "type": "string", "enum": ["BREAKFAST","LUNCH","DINNER"] },
          "meals": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "NoticePage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "date": { "type": "string" },
                "category": { "type": "string" },
                "link": { "type": "string", "format": "uri" }
              }
            }
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "sort": {
                "type": "object",
                "properties": {
                  "empty": { "type": "boolean" },
                  "sorted": { "type": "boolean" },
                  "unsorted": { "type": "boolean" }
                }
              },
              "offset": { "type": "integer" },
              "paged": { "type": "boolean" },
              "unpaged": { "type": "boolean" }
            }
          },
          "last": { "type": "boolean" },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "first": { "type": "boolean" },
          "numberOfElements": { "type": "integer" },
          "empty": { "type": "boolean" }
        }
      },
      "NewsItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "date": { "type": "string" },
          "reporter": { "type": "string" },
          "imageUrl": { "type": "string", "format": "uri" },
          "summary": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "category": { "type": "string", "enum": ["REPORT", "SOCIETY"] }
        }
      },
      "PageOfNewsItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/NewsItem" }
          },
          "pageable": {
            "type": "object",
            "additionalProperties": true
          },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "number": {
            "type": "integer",
            "description": "현재 페이지 번호"
          },
          "size": {
            "type": "integer",
            "description": "페이지당 요소 수"
          },
          "first": { "type": "boolean" },
          "last": { "type": "boolean" },
          "numberOfElements": { "type": "integer" },
          "empty": { "type": "boolean" }
        }
      },
      "ApiResponseOfPageOfNewsItem": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": { "$ref": "#/components/schemas/PageOfNewsItem" },
          "message": { "type": "string" }
        }
      },
      "MjuCalendarDTO": {
        "type": "object",
        "properties": {
          "year": { "type": "integer", "example": 2025 },
          "startDate": { "type": "string", "format": "date", "example": "2025-02-10" },
          "endDate": { "type": "string", "format": "date", "example": "2025-02-14" },
          "description": { "type": "string", "example": "[학부] 수강신청 기간" }
        }
      },

      "ApiResponse_MonthlyResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/MonthlyResponse" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["status", "data", "timestamp"]
      },
      "MonthlyResponse": {
        "type": "object",
        "properties": {
          "year": { "type": "integer", "example": 2025 },
          "month": { "type": "integer", "minimum": 1, "maximum": 12, "example": 10 },
          "all":      { "type": "array", "items": { "$ref": "#/components/schemas/MonthlyCategoryItem" } },
          "undergrad":{ "type": "array", "items": { "$ref": "#/components/schemas/MonthlyCategoryItem" } },
          "graduate": { "type": "array", "items": { "$ref": "#/components/schemas/MonthlyCategoryItem" } },
          "holiday":  { "type": "array", "items": { "$ref": "#/components/schemas/MonthlyCategoryItem" } }
        },
        "required": ["year", "month", "all", "undergrad", "graduate", "holiday"]
      },
      "MonthlyCategoryItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "description": { "type": "string" }
        },
        "required": ["id", "startDate", "endDate", "description"]
      },

      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MjuCalendarDTO"
                }
              },
              "pageable": { "type": "object" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "size": { "type": "integer" },
              "number": { "type": "integer" }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BroadcastItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "[수다학개론] EP.04 지하철 타는 법?"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.youtube.com/watch?v=X1-p8BONK1s"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://i.ytimg.com/vi/X1-p8BONK1s/hqdefault.jpg"
          },
          "playlistTitle": {
            "type": "string",
            "example": "슬기로운 서울생활"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-07-07T06:25:40"
          }
        }
      }
    }
  }
}
