{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Campus API",
    "version": "v1.0.0",
    "description": "명지대학교 식단, 공지사항, 명대신문 기사, 학사일정, 명지방송국 유튜브 정보를 제공하는 크롤링 기반 Campus API 명세서입니다."
  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Department",
      "description": "학과별 정보 조회 기능"
    },
    {
      "name": "Menu",
      "description": "학교 식단 정보 제공 및 크롤링 기능"
    },
    {
      "name": "Notice",
      "description": "명지대학교 공지사항 목록 조회 기능"
    },
    {
      "name": "News",
      "description": "명대신문 기사 조회 및 크롤링/삭제 기능"
    },
    {
      "name": "MJU_Calendar",
      "description": "명지대학교 학사일정 조회 기능"
    },
    {
      "name": "Broadcast",
      "description": "명지대학교 방송국 영상 크롤링 및 목록 조회 기능"
    }
  ],
  "paths": {
    "/departments/info": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "학과 목록 조회",
        "description": "**학과 리스트 조회 API**입니다.\n\n- `College`(단과대학)를 파라미터로 전달하지 않으면 전체 학과 리스트를 반환합니다.\n- 특정 단과대 소속 학과들만 조회하고 싶다면, 쿼리 파라미터 `college`를 설정해 호출하세요.\n\n❗ 클라이언트는 `studentCouncilName`, `studentCouncilLogo`가 `null`인 경우 해당 학과에 아직 학생회가 등록되지 않았음을 나타내야 합니다.",
        "parameters": [
          {
            "name": "college",
            "in": "query",
            "required": false,
            "description": "필터링하고자 하는 단과대학 이름. 예: AI_SOFTWARE, BUSINESS 등",
            "schema": {
              "type": "string",
              "enum": [
                "HUMANITIES",
                "SOCIAL_SCIENCES",
                "BUSINESS",
                "AI_SOFTWARE",
                "FUTURE_CONVERGENCE",
                "HONOR",
                "OTHER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "학과 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDepartmentSummaryList"
                }
              }
            }
          }
        }
      }
    },

    "/departments/info/{departmentUuid}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "학과 상세 정보 조회",
        "description": "지정한 UUID에 해당하는 학과의 학생회, 슬로건, 설명, SNS 정보 등 상세 정보를 조회합니다.",
        "parameters": [
          {
            "name": "departmentUuid",
            "in": "path",
            "required": true,
            "description": "조회 대상 학과의 고유 UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "학과 상세 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDepartmentInfo"
                }
              }
            }
          }
        }
      }
    },
    "/departments/{departmentUuid}/schedules": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "학과 일정 목록 조회",
        "description": "해당 학과에 등록된 전체 일정을 조회합니다. 각 일정은 제목, 기간, 내용 등의 정보를 포함합니다.",
        "parameters": [
          {
            "name": "departmentUuid",
            "in": "path",
            "required": true,
            "description": "일정을 조회할 학과의 UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "학과 일정 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDepartmentSchedule"
                }
              }
            }
          }
        }
      }
    },

    "/departments/{departmentUuid}/notices": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "학과 공지사항 목록 조회",
        "description": "특정 학과의 최신 공지사항 목록을 페이징 형태로 조회합니다. 기본 size는 5이며, 각 공지는 제목, 썸네일, 미리보기 내용, 등록일을 포함합니다.",
        "parameters": [
          {
            "name": "departmentUuid",
            "in": "path",
            "required": true,
            "description": "공지사항을 조회할 학과의 UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "조회할 페이지 번호 (0부터 시작)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "한 페이지에 포함될 공지 수",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDepartmentNoticeSummaryPage"
                }
              }
            }
          }
        }
      }
    },

    "/departments/{departmentUuid}/notices/{noticeUuid}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "공지사항 상세 조회",
        "description": "지정된 UUID에 해당하는 공지사항의 상세 내용을 조회합니다. 제목, 전체 본문, 썸네일, 작성일 등의 정보를 포함합니다.",
        "parameters": [
          {
            "name": "departmentUuid",
            "in": "path",
            "required": true,
            "description": "공지사항이 속한 학과의 UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "noticeUuid",
            "in": "path",
            "required": true,
            "description": "조회할 공지사항의 UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 상세 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDepartmentNoticeDetail"
                }
              }
            }
          }
        }
      }
    },

    "/menus/crawling": {
      "post": {
        "tags": ["Menu"],
        "summary": "식단 크롤링 실행",
        "description": "식단 정보를 웹 크롤링하여 저장합니다. 프론트엔드에서 별도 처리 필요 없이 호출만으로 최신 식단을 가져옵니다.",
        "responses": {
          "200": {
            "description": "크롤링된 식단 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MenuItem"
                      }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "menuExample": {
                    "summary": "이번주 식단 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": [
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "LUNCH",
                          "meals": [
                            "사골떡국",
                            "쌀밥",
                            "생선가스&칠리소스",
                            "두부양념조림",
                            "해초샐러드",
                            "깍두기",
                            "따뜻한 유자차"
                          ]
                        }
                      ],
                      "timestamp": "2025-02-12T14:59:54.3362998"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/menus": {
      "get": {
        "tags": ["Menu"],
        "summary": "주간 식단 조회",
        "description": "DB에 저장된 이번 주 식단 정보를 조회합니다. 크롤링이 최신이 아니면 `/menus/crawling` 호출 필요합니다.",
        "responses": {
          "200": {
            "description": "주간 식단 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MenuItem" }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "weeklyMenu": {
                    "summary": "한 주 식단 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": [
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "BREAKFAST",
                          "meals": ["등록된 식단 내용이 없습니다."]
                        },
                        {
                          "date": "02.10 ( 월 )",
                          "menuCategory": "LUNCH",
                          "meals": ["사골떡국", "쌀밥", "생선가스&칠리소스"]
                        }
                      ],
                      "timestamp": "2025-02-12T14:59:54.3362998"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices": {
      "get": {
        "tags": ["Notice"],
        "summary": "공지사항 목록 조회",
        "description": "카테고리, 연도, 페이지네이션 및 정렬을 지원하는 명지대학교 공지사항 목록 조회 API입니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["all", "general","academic","scholarship","career","activity","rule"]
            },
            "required": true,
            "description": "공지사항 카테고리"
          },
          {
            "name": "year",
            "in": "query",
            "schema": { "type": "integer", "default": 2025 },
            "description": "조회할 연도 (기본: 현재연도)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "default": 15 },
            "description": "페이지당 항목 수"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc","desc"], "default": "desc" },
            "description": "날짜 정렬 방향"
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 페이지 데이터 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticePage"
                },
                "examples": {
                  "noticeExample": {
                    "summary": "학칙개정 공지사항 예시",
                    "value": {
                      "content": [
                        {
                          "title": "[재맞고]2025년 예비 취준생 안내",
                          "date": "2025.04.08",
                          "category": "career",
                          "link": "https://.../artclView.do"
                        }
                      ],
                      "pageable": {
                        "pageNumber": 0,
                        "pageSize": 15,
                        "sort": {"empty":false,"sorted":true,"unsorted":false},
                        "offset": 0,"paged":true,"unpaged":false
                      },
                      "last": false,
                      "totalElements": 670,
                      "totalPages": 45,
                      "first": true,
                      "numberOfElements": 1,
                      "empty": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
  "/calendar": {
    "get": {
      "tags": ["MJU_Calendar"],
      "summary": "학사일정 목록 조회 (페이지네이션 + 연도 필터 + 정렬)",
      "description": "명지대학교의 학사일정 데이터를 페이지 단위로 조회합니다.\n\n\n- 기본적으로 `startDate` 기준 오름차순 정렬됩니다.\n\n- `year` 값을 넘기면 해당 연도의 일정만 필터링합니다.\n\n- `sortBy` 필드는 `startDate`, `endDate`, `year` 등이 가능합니다.\n\n- 클라이언트에서는 페이지를 1부터 시작해도 되며, 내부적으로는 0부터 계산됩니다.",
      "parameters": [
        {
          "name": "page",
          "in": "query",
          "description": "페이지 번호 (기본값: 0)\n\n0부터 시작하며 클라이언트에서는 1부터 보내고 내부에서 -1 처리 가능",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 0
          }
        },
        {
          "name": "size",
          "in": "query",
          "description": "페이지당 항목 수 (기본값: 10)",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 10
          }
        },
        {
          "name": "sortBy",
          "in": "query",
          "description": "정렬 기준 필드 (예: startDate, endDate, year 등)",
          "required": false,
          "schema": {
            "type": "string",
            "default": "startDate"
          }
        },
        {
          "name": "sortDir",
          "in": "query",
          "description": "정렬 방향 (asc 또는 desc)",
          "required": false,
          "schema": {
            "type": "string",
            "default": "asc"
          }
        },
        {
          "name": "year",
          "in": "query",
          "description": "특정 연도 필터링 (예: 2025)",
          "required": false,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "학사일정 데이터 페이지 형식으로 반환",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResponse"
              },
              "examples": {
                "calendarPageExample": {
                  "summary": "학사일정 페이징 응답 예시",
                  "value": {
                    "status": "API 요청 성공",
                    "data": {
                      "content": [
                        {
                          "year": 2020,
                          "startDate": "2020-01-01",
                          "endDate": "2020-01-01",
                          "description": "신정"
                        },
                        {
                          "year": 2020,
                          "startDate": "2020-01-06",
                          "endDate": "2020-01-10",
                          "description": "[대학원] 과정변경 원서접수기간"
                        }
                      ],
                      "pageable": {
                        "pageNumber": 0,
                        "pageSize": 10,
                        "offset": 0,
                        "paged": true,
                        "unpaged": false,
                        "sort": {
                          "sorted": true,
                          "unsorted": false,
                          "empty": false
                        }
                      },
                      "totalElements": 470,
                      "totalPages": 47,
                      "size": 10,
                      "number": 0,
                      "first": true,
                      "last": false,
                      "numberOfElements": 10,
                      "empty": false,
                      "sort": {
                        "sorted": true,
                        "unsorted": false,
                        "empty": false
                      }
                    },
                    "timestamp": "2025-07-16T23:54:19.6712228"
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "/news": {
      "get": {
        "tags": ["News"],
        "summary": "명대신문 기사 조회",
        "description": "명대신문의 '보도' 또는 '사회' 카테고리 기사 목록 조회 API입니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT", "SOCIETY"]
            },
            "required": true,
            "description": "조회할 기사 카테고리"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false,
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "required": false,
            "description": "페이지당 기사 수"
          }
        ],
        "responses": {
          "200": {
            "description": "기사 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfPageOfNewsItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["News"],
        "summary": "명대신문 크롤링 실행",
        "description": "특정 카테고리 또는 전체 카테고리에 대해 명대신문 기사를 크롤링하여 저장합니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT","SOCIETY"],
              "nullable": true
            },
            "required": false,
            "description": "크롤링할 기사 카테고리 (미지정 시 전체 크롤링)"
          }
        ],
        "responses": {
          "200": {
            "description": "크롤링 작업 완료 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                },
                "examples": {
                  "emptyRes": {
                    "summary": "비어있는 리스트",
                    "value": []
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["News"],
        "summary": "명대신문 기사 삭제",
        "description": "특정 카테고리 또는 전체 카테고리의 기사를 삭제합니다.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["REPORT","SOCIETY"],
              "nullable": true
            },
            "required": false,
            "description": "삭제할 기사 카테고리 (미지정 시 전체 삭제)"
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 작업 완료 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                },
                "examples": {
                  "emptyRes": {
                    "summary": "비어있는 리스트",
                    "value": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broadcast": {
      "get": {
        "tags": ["Broadcast"],
        "summary": "방송 영상 목록 조회",
        "description": "명지대학교 방송국의 전체 영상 목록을 조회합니다. 페이지네이션 및 최신순 정렬을 지원합니다.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "페이지 번호 (0부터 시작)"
          },
          {
            "name": "size",
            "in": "query",
            "schema": { "type": "integer", "default": 9 },
            "description": "페이지당 항목 수"
          }
        ],
        "responses": {
          "200": {
            "description": "방송 영상 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/BroadcastItem" }
                        },
                        "pageable": { "type": "object" },
                        "totalElements": { "type": "integer" },
                        "totalPages": { "type": "integer" },
                        "number": { "type": "integer" },
                        "size": { "type": "integer" },
                        "first": { "type": "boolean" },
                        "last": { "type": "boolean" },
                        "numberOfElements": { "type": "integer" },
                        "empty": { "type": "boolean" }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "broadcastList": {
                    "summary": "방송 영상 목록 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "content": [
                          {
                            "title": "[오디오 콘텐츠] 슬기로운 서울생활 8화",
                            "url": "https://www.youtube.com/watch?v=3_60kdx3xKg",
                            "thumbnailUrl": "https://i.ytimg.com/vi/3_60kdx3xKg/hqdefault.jpg",
                            "playlistTitle": "슬기로운 서울생활",
                            "publishedAt": "2025-07-07T06:25:40"
                          }
                        ]
                      },
                      "timestamp": "2025-07-21T20:48:58.1067"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broadcast/sync": {
      "post": {
        "tags": ["Broadcast"],
        "summary": "방송 영상 동기화",
        "description": "명지대학교 방송국 유튜브 채널에서 전체 영상을 크롤링하여 저장합니다.",
        "responses": {
          "200": {
            "description": "동기화 완료 메시지 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "string", "example": "명지대학교 방송국 전체 영상 동기화 완료" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                },
                "examples": {
                  "syncResult": {
                    "summary": "동기화 결과 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": "명지대학교 방송국 전체 영상 동기화 완료",
                      "timestamp": "2025-07-21T20:48:58.1067"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ApiResponseDepartmentInfo": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": { "$ref": "#/components/schemas/DepartmentInfo" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseDepartmentSummaryList": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DepartmentSummary" }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseDepartmentSchedule": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": { "$ref": "#/components/schemas/DepartmentScheduleResponse" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseDepartmentNoticeSummaryPage": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/DepartmentNoticeSummary" }
              },
              "pageable": {
                "type": "object",
                "properties": {
                  "pageNumber": { "type": "integer" },
                  "pageSize": { "type": "integer" }
                }
              },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "last": { "type": "boolean" },
              "first": { "type": "boolean" },
              "numberOfElements": { "type": "integer" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "empty": { "type": "boolean" }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiResponseDepartmentNoticeDetail": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": { "$ref": "#/components/schemas/DepartmentNoticeDetail" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },

      "DepartmentInfo": {
        "type": "object",
        "properties": {
          "departmentUuid": { "type": "string", "format": "uuid" },
          "departmentName": { "type": "string" },
          "studentCouncilName": { "type": "string" },
          "studentCouncilLogo": { "type": "string", "format": "uri" },
          "studentCouncilContactEmail": { "type": "string", "format": "email" },
          "slogan": { "type": "string" },
          "description": { "type": "string" },
          "instagramUrl": { "type": "string", "format": "uri" },
          "homepageUrl": { "type": "string", "format": "uri" },
          "college": {
            "type": "string",
            "enum": [
              "HUMANITIES", "SOCIAL_SCIENCES", "BUSINESS",
              "AI_SOFTWARE", "FUTURE_CONVERGENCE", "HONOR", "OTHER"
            ]
          }
        }
      },
      "DepartmentSummary": {
        "type": "object",
        "properties": {
          "departmentUuid": { "type": "string", "format": "uuid" },
          "departmentName": { "type": "string" },
          "studentCouncilName": { "type": "string" },
          "studentCouncilLogo": { "type": "string", "format": "uri" },
          "slogan": { "type": "string" },
          "college": {
            "type": "string",
            "enum": [
              "HUMANITIES", "SOCIAL_SCIENCES", "BUSINESS",
              "AI_SOFTWARE", "FUTURE_CONVERGENCE", "HONOR", "OTHER"
            ]
          }
        }
      },
      "ScheduleSimple": {
        "type": "object",
        "properties": {
          "departmentScheduleUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "startDateTime": { "type": "string", "format": "date-time" },
          "endDateTime": { "type": "string", "format": "date-time" },
          "content": { "type": "string" }
        }
      },
      "DepartmentScheduleResponse": {
        "type": "object",
        "properties": {
          "schedules": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ScheduleSimple" }
          }
        }
      },
      "DepartmentNoticeSummary": {
        "type": "object",
        "properties": {
          "noticeUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "previewContent": { "type": "string" },
          "thumbnailUrl": { "type": "string", "format": "uri" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "DepartmentNoticeDetail": {
        "type": "object",
        "properties": {
          "noticeUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "thumbnailUrl": { "type": "string", "format": "uri" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },

      "MenuItem": {
        "type": "object",
        "properties": {
          "date": { "type": "string", "example": "02.10 ( 월 )" },
          "menuCategory": { "type": "string", "enum": ["BREAKFAST","LUNCH","DINNER"] },
          "meals": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "NoticePage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "date": { "type": "string" },
                "category": { "type": "string" },
                "link": { "type": "string", "format": "uri" }
              }
            }
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "sort": {
                "type": "object",
                "properties": {
                  "empty": { "type": "boolean" },
                  "sorted": { "type": "boolean" },
                  "unsorted": { "type": "boolean" }
                }
              },
              "offset": { "type": "integer" },
              "paged": { "type": "boolean" },
              "unpaged": { "type": "boolean" }
            }
          },
          "last": { "type": "boolean" },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "first": { "type": "boolean" },
          "numberOfElements": { "type": "integer" },
          "empty": { "type": "boolean" }
        }
      },
      "NewsItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "date": { "type": "string" },
          "reporter": { "type": "string" },
          "imageUrl": { "type": "string", "format": "uri" },
          "summary": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "category": { "type": "string", "enum": ["REPORT", "SOCIETY"] }
        }
      },
      "PageOfNewsItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/NewsItem" }
          },
          "pageable": {
            "type": "object",
            "additionalProperties": true
          },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "number": {
            "type": "integer",
            "description": "현재 페이지 번호"
          },
          "size": {
            "type": "integer",
            "description": "페이지당 요소 수"
          },
          "first": { "type": "boolean" },
          "last": { "type": "boolean" },
          "numberOfElements": { "type": "integer" },
          "empty": { "type": "boolean" }
        }
      },
      "ApiResponseOfPageOfNewsItem": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": { "$ref": "#/components/schemas/PageOfNewsItem" },
          "message": { "type": "string" }
        }
      },
      "MjuCalendarDTO": {
        "type": "object",
        "properties": {
          "year": { "type": "integer", "example": 2025 },
          "startDate": { "type": "string", "format": "date", "example": "2025-02-10" },
          "endDate": { "type": "string", "format": "date", "example": "2025-02-14" },
          "description": { "type": "string", "example": "[학부] 수강신청 기간" }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MjuCalendarDTO"
                }
              },
              "pageable": { "type": "object" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "size": { "type": "integer" },
              "number": { "type": "integer" }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BroadcastItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "[수다학개론] EP.04 지하철 타는 법?"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.youtube.com/watch?v=X1-p8BONK1s"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://i.ytimg.com/vi/X1-p8BONK1s/hqdefault.jpg"
          },
          "playlistTitle": {
            "type": "string",
            "example": "슬기로운 서울생활"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-07-07T06:25:40"
          }
        }
      }
    }
  }
}
