{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 통합 알림 API",
    "version": "v1.3.0",
    "description": "# 🔔 키워드 알림과 Topic 탐색 API\n\n기존 자유 키워드 알림을 유지하면서 자동완성에서 선택한 표준 `topicId` 구독을 함께 지원합니다. `topicId`를 선택하면 신규 글의 공지 Topic 계층으로, 생략하면 기존 제목 접두 키워드 방식으로 매칭합니다.\n\n## 사용 흐름\n1. 앱에서 알림 권한 허용 후 FCM 토큰 발급\n2. `POST /device-tokens`로 기기 등록\n3. `GET /alarm-topics/autocomplete?query=졸업&limit=8`로 표준 Topic 후보 표시\n4. `POST /keyword-alarms`에 키워드, 선택한 `topicId`, 카테고리 등록\n5. 신규 글을 분류하고 Topic 계층 또는 자유 키워드로 매칭해 FCM 발송 및 알림함 저장\n6. `GET /notifications`로 알림함 조회\n\n`GROUP` Topic은 모든 활성 하위 Topic을 포함합니다. 자동완성 항목을 선택하지 않으면 `topicId`를 생략할 수 있습니다. 키워드는 공백 제외 1~5글자이며 기존 요청은 그대로 호환됩니다."
  },
  "servers": [
    { "url": "https://api.thingo.kr/api/v1" }
  ],
  "tags": [
    { "name": "KeywordAlarm", "description": "키워드 알림 구독 등록/조회/수정/삭제, 추천 키워드" },
    { "name": "AlarmTopic", "description": "공통 Topic Catalog 기반 구독 가능 표준 주제 자동완성" },
    { "name": "DeviceToken", "description": "FCM 기기 토큰 등록/삭제 (푸시 수신에 필요)" },
    { "name": "Notification", "description": "메인 미읽음 상태, 통합 알림함, 읽음 처리, 키워드/활동 인앱 알림" }
  ],
  "paths": {
    "/keyword-alarms": {
      "post": {
        "tags": ["KeywordAlarm"],
        "summary": "키워드 등록",
        "description": "키워드 + 선택적 topicId + 카테고리를 등록한다. topicId가 있으면 공지 Topic 계층, 없으면 기존 제목 접두 방식으로 매칭한다.",
        "security": [ { "Authorization": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateKeywordRequest" },
              "example": { "keyword": "졸업", "topicId": "GRADUATION", "categories": ["NOTICE"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "등록 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_KeywordDetail" } } }
          },
          "400": {
            "description": "검증 실패('올바른 형식의 키워드를 입력해 주세요.') 또는 중복('이미 등록된 키워드입니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      },
      "get": {
        "tags": ["KeywordAlarm"],
        "summary": "내 키워드 목록",
        "description": "최신 등록순.",
        "security": [ { "Authorization": [] } ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_KeywordList" } } }
          }
        }
      }
    },
    "/keyword-alarms/{id}": {
      "patch": {
        "tags": ["KeywordAlarm"],
        "summary": "키워드/카테고리 수정",
        "description": "키워드, 선택적 topicId, 카테고리를 함께 교체한다. 바뀐 설정은 이후 새 글부터 적용되고 과거 글에는 소급되지 않는다.",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int64" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateKeywordRequest" },
              "example": { "keyword": "졸업", "topicId": "GRADUATION", "categories": ["NOTICE"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_KeywordDetail" } } }
          },
          "400": {
            "description": "검증 실패('올바른 형식의 키워드를 입력해 주세요.') 또는 중복('이미 등록된 키워드입니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "404": {
            "description": "구독 없음 또는 타인 구독('키워드 알림 구독을 찾을 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      },
      "delete": {
        "tags": ["KeywordAlarm"],
        "summary": "키워드 삭제",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int64" } }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공(data 없음)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_Empty" } } }
          },
          "404": {
            "description": "구독 없음 또는 타인 구독",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/keyword-alarms/{id}/enabled": {
      "patch": {
        "tags": ["KeywordAlarm"],
        "summary": "알림 on/off",
        "description": "키워드별 알림 스위치. false 로 끄면 이후 발송(키워드 매칭 + 학식 방송)에서 제외되고, 구독과 과거 알림함 내역은 그대로 유지된다. 멱등(같은 값 재전송 안전).",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int64" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateEnabledRequest" },
              "example": { "enabled": false }
            }
          }
        },
        "responses": {
          "200": {
            "description": "변경 성공(수정된 구독 반환)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_KeywordDetail" } } }
          },
          "400": {
            "description": "검증 실패('알림 활성 여부(enabled)를 지정해 주세요.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "404": {
            "description": "구독 없음 또는 타인 구독('키워드 알림 구독을 찾을 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/keyword-alarms/recommended": {
      "get": {
        "tags": ["KeywordAlarm"],
        "summary": "추천 키워드(고정값)",
        "description": "로그인 불필요. 화면 6번 추천 키워드.",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiSuccess_StringList" },
                "example": { "status": "API 요청 성공", "data": ["수강신청", "기숙사", "졸업", "국가근로", "해외탐방", "해외봉사"], "timestamp": "2026-08-01T12:00:00" }
              }
            }
          }
        }
      }
    },
    "/device-tokens": {
      "post": {
        "tags": ["DeviceToken"],
        "summary": "기기 토큰 등록(멱등)",
        "description": "앱이 발급한 FCM 토큰을 등록. 같은 토큰 재전송 시 갱신, 다른 계정이면 현재 계정으로 재배정.",
        "security": [ { "Authorization": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterDeviceTokenRequest" },
              "example": { "fcmToken": "e1l_IePh...", "platform": "ANDROID" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "등록 성공(data 없음)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_Empty" } } }
          }
        }
      },
      "delete": {
        "tags": ["DeviceToken"],
        "summary": "기기 토큰 삭제(로그아웃)",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "fcmToken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공(data 없음)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_Empty" } } }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": ["Notification"],
        "summary": "알림함(받은 알림 목록)",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": {
          "200": {
            "description": "조회 성공(미읽음 최신순 → 읽음 최신순)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_PageNotification" } } }
          }
        }
      }
    },
    "/notifications/unread-status": {
      "get": {
        "tags": ["Notification"],
        "summary": "메인 화면 미읽음 알림 상태",
        "description": "알림 목록을 조회하지 않고 빨간 점/배지 표시 여부와 전체 미읽음 수만 반환하는 경량 API입니다. 로그인 직후 또는 메인 화면 진입 시 호출합니다.",
        "security": [ { "Authorization": [] } ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiSuccess_UnreadStatus" },
                "examples": {
                  "hasUnread": {
                    "value": {
                      "status": "API 요청 성공",
                      "data": { "unreadCount": 3, "hasUnread": true },
                      "timestamp": "2026-07-27T15:30:00"
                    }
                  },
                  "empty": {
                    "value": {
                      "status": "API 요청 성공",
                      "data": { "unreadCount": 0, "hasUnread": false },
                      "timestamp": "2026-07-27T15:30:00"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alarm-topics/autocomplete": {
      "get": {
        "tags": ["AlarmTopic"],
        "summary": "알림 Topic 자동완성",
        "description": "로그인 불필요. 게시글 검색 결과가 아니라 구독 가능한 표준 Topic을 반환합니다. 사용자가 항목을 선택하면 응답의 topicId를 키워드 등록 요청에 함께 보냅니다.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "example": "졸업"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 8, "minimum": 1, "maximum": 20 },
            "description": "반환 개수. 서버에서 1~20 범위로 보정합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "구독 가능한 표준 Topic 목록",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiSuccess_AlarmTopicAutocomplete" },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "query": "졸업",
                    "items": [
                      {
                        "topicId": "GRADUATION",
                        "displayName": "졸업 전체",
                        "description": "졸업과 관련된 모든 공지",
                        "type": "GROUP"
                      },
                      {
                        "topicId": "GRADUATION_DEFERRAL",
                        "displayName": "졸업유예·학위취득유예",
                        "description": "학사학위 취득유예 신청 및 결과",
                        "type": "TOPIC"
                      }
                    ]
                  },
                  "timestamp": "2026-08-01T10:00:00"
                }
              }
            }
          },
          "400": {
            "description": "필수 query 파라미터 누락",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "patch": {
        "tags": ["Notification"],
        "summary": "단건 읽음",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int64" } }
        ],
        "responses": {
          "200": {
            "description": "성공(data.read=true인 갱신 알림)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_NotificationItem" } } }
          },
          "404": {
            "description": "알림 없음('알림 내역을 찾을 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/notifications/read-all": {
      "patch": {
        "tags": ["Notification"],
        "summary": "전체 읽음",
        "description": "data.updatedCount = 실제 읽음 처리된 개수. 처리 후 unreadCount=0, hasUnread=false.",
        "security": [ { "Authorization": [] } ],
        "responses": {
          "200": {
            "description": "성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_ReadAllResult" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AlarmCategory": {
        "type": "string",
        "enum": ["NOTICE", "MJU_CALENDAR", "COMMUNITY", "CAFETERIA"],
        "description": "NOTICE=공지사항, MJU_CALENDAR=학사일정, COMMUNITY=게시판(여기까진 키워드 매칭), CAFETERIA=학식(새 메뉴 방송, 키워드 무관)"
      },
      "NotificationCategory": {
        "type": "string",
        "enum": ["NOTICE", "MJU_CALENDAR", "COMMUNITY", "CAFETERIA", "MAP"],
        "description": "알림함 화면 대분류. MAP=명지도"
      },
      "DevicePlatform": {
        "type": "string",
        "enum": ["ANDROID", "IOS", "WEB"]
      },
      "CreateKeywordRequest": {
        "type": "object",
        "required": ["keyword", "categories"],
        "properties": {
          "keyword": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5,
            "pattern": "^\\S+$",
            "description": "공백 제외 1~5글자",
            "example": "장학"
          },
          "topicId": {
            "type": "string",
            "nullable": true,
            "maxLength": 64,
            "pattern": "^[A-Z0-9_]+$",
            "description": "자동완성 항목 선택 시 응답의 topicId. 미선택이면 생략",
            "example": "GRADUATION"
          },
          "categories": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/AlarmCategory" }
          }
        }
      },
      "UpdateKeywordRequest": {
        "type": "object",
        "required": ["keyword", "categories"],
        "description": "키워드 + 카테고리 전체 교체(둘 다 필수)",
        "properties": {
          "keyword": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5,
            "pattern": "^\\S+$",
            "description": "공백 제외 1~5글자",
            "example": "장학금"
          },
          "topicId": {
            "type": "string",
            "nullable": true,
            "maxLength": 64,
            "pattern": "^[A-Z0-9_]+$",
            "description": "자동완성 항목 선택 시 응답의 topicId. 자유 키워드로 바꾸려면 생략",
            "example": "GRADUATION"
          },
          "categories": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/AlarmCategory" }
          }
        }
      },
      "UpdateEnabledRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "true=알림 켬, false=알림 끔",
            "example": false
          }
        }
      },
      "RegisterDeviceTokenRequest": {
        "type": "object",
        "required": ["fcmToken", "platform"],
        "properties": {
          "fcmToken": { "type": "string", "description": "앱이 발급한 FCM 등록 토큰" },
          "platform": { "$ref": "#/components/schemas/DevicePlatform" }
        }
      },
      "KeywordDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 12 },
          "keyword": { "type": "string", "example": "장학" },
          "topicId": { "type": "string", "nullable": true, "description": "표준 Topic 구독 ID. 자유 키워드 구독이면 null", "example": "GRADUATION" },
          "categories": { "type": "array", "items": { "$ref": "#/components/schemas/AlarmCategory" } },
          "enabled": { "type": "boolean", "description": "알림 on/off (false 면 발송 제외, 구독은 유지)", "example": true },
          "createdAt": { "type": "string", "format": "date-time", "example": "2026-06-30T19:40:00" }
        }
      },
      "NotificationItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 100 },
          "matchedKeyword": { "type": "string", "description": "기존 클라이언트 호환용 걸린 키워드", "example": "장학" },
          "keyword": { "type": "string", "nullable": true, "description": "키워드 알림에만 노출. 학식 등 방송형은 null", "example": "장학" },
          "type": { "type": "string", "description": "NOTICE/MJU_CALENDAR/COMMUNITY/WEEKLY_MENU/COMMUNITY_LIKE/COMMUNITY_COMMENT/REVIEW_LIKE", "example": "NOTICE" },
          "categoryCode": { "$ref": "#/components/schemas/NotificationCategory" },
          "category": { "type": "string", "description": "화면 표시용 대분류", "example": "공지사항" },
          "title": { "type": "string", "example": "2026 교내 장학금 신청 안내" },
          "link": { "type": "string", "nullable": true, "example": "https://www.mju.ac.kr/..." },
          "read": { "type": "boolean", "example": false },
          "sentAt": { "type": "string", "format": "date-time", "description": "기존 클라이언트 호환용 ISO-8601 시각", "example": "2026-06-30T19:40:00Z" },
          "timestamp": { "type": "integer", "format": "int64", "description": "상대/절대 시간 계산용 Unix epoch milliseconds", "example": 1782829200000 }
        }
      },
      "PageNotification": {
        "type": "object",
        "properties": {
          "content": { "type": "array", "items": { "$ref": "#/components/schemas/NotificationItem" } },
          "unreadCount": { "type": "integer", "format": "int64", "description": "현재 페이지와 무관한 전체 미읽음 수", "example": 3 },
          "hasUnread": { "type": "boolean", "description": "모두 읽음 버튼 활성화 여부", "example": true },
          "totalElements": { "type": "integer", "example": 42 },
          "totalPages": { "type": "integer", "example": 3 },
          "page": { "type": "integer", "example": 0 },
          "size": { "type": "integer", "example": 20 },
          "first": { "type": "boolean" },
          "last": { "type": "boolean" }
        }
      },
      "UnreadStatus": {
        "type": "object",
        "required": ["unreadCount", "hasUnread"],
        "properties": {
          "unreadCount": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "현재 사용자의 전체 미읽음 알림 수",
            "example": 3
          },
          "hasUnread": {
            "type": "boolean",
            "description": "메인 알림 아이콘 빨간 점 표시 여부",
            "example": true
          }
        }
      },
      "ApiSuccess_KeywordDetail": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/KeywordDetail" },
          "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-30T19:40:00" }
        }
      },
      "ApiSuccess_KeywordList": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/KeywordDetail" } },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "AlarmTopicType": {
        "type": "string",
        "enum": ["GROUP", "TOPIC"],
        "description": "GROUP은 하위 Topic을 포함하는 상위 주제, TOPIC은 개별 주제"
      },
      "AlarmTopicItem": {
        "type": "object",
        "required": ["topicId", "displayName", "description", "type"],
        "properties": {
          "topicId": { "type": "string", "example": "GRADUATION_DEFERRAL" },
          "displayName": { "type": "string", "example": "졸업유예·학위취득유예" },
          "description": { "type": "string", "example": "학사학위 취득유예 신청 및 결과" },
          "type": { "$ref": "#/components/schemas/AlarmTopicType" }
        }
      },
      "AlarmTopicAutocomplete": {
        "type": "object",
        "required": ["query", "items"],
        "properties": {
          "query": { "type": "string", "example": "졸업" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AlarmTopicItem" }
          }
        }
      },
      "ApiSuccess_AlarmTopicAutocomplete": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/AlarmTopicAutocomplete" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_StringList": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "array", "items": { "type": "string" } },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_PageNotification": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/PageNotification" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_UnreadStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/UnreadStatus" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_NotificationItem": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/NotificationItem" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_ReadAllResult": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": {
            "type": "object",
            "properties": {
              "updatedCount": { "type": "integer", "example": 5 },
              "unreadCount": { "type": "integer", "format": "int64", "example": 0 },
              "hasUnread": { "type": "boolean", "example": false }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_Int": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "integer", "example": 5 },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_Empty": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "object", "nullable": true, "example": null },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "BAD_REQUEST" },
          "error": { "type": "string", "example": "KEYWORD_INVALID" },
          "message": { "type": "string", "example": "[MJS] 올바른 형식의 키워드를 입력해 주세요." }
        }
      }
    }
  }
}
