{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 지도·버스 API",
    "version": "v1.2.0",
    "description": "명지대 캠퍼스 지도 서비스 '명지도'와 주변 버스 도착 정보를 제공하는 API입니다.\n\n## 명지도란?\n명지대 캠퍼스 지도 위에 건물과 장소(맛집/편의시설 등)를 핀으로 보여주는 서비스입니다.\n지도는 프론트가 네이버 지도로 그리고, 백엔드는 핀의 좌표·정보·정렬된 목록을 내려줍니다.\n\n## 데이터 3종\n| 종류 | 설명 | 예 |\n|------|------|----|\n| 카테고리(칩) | 지도 위 핀을 묶고 필터링하는 단위. 상단 퀵메뉴/전체 목록은 프론트가 자체 관리하고, 백엔드는 칩 클릭 시 목록만 제공 | 대동명지도, 프린터, 라운지 |\n| 건물 | 강의실코드·층별 안내·운영시간을 가진 캠퍼스 건물 | 종합관, 방목학술정보관 |\n| 장소(비건물) | 건물 안 시설 또는 건물 밖 가게. 위치/추가정보만 가짐 | 맛집, 편의점, 프린터 |\n\n## 핵심 개념\n- **운영 상태/거리는 저장값이 아니라 요청 시점에 계산**합니다. 운영시간+현재시각으로 상태를, 사용자 좌표로 거리를 구합니다.\n- **사용자 현재 위치(lat/lng)는 프론트가 기기 GPS로 얻어 쿼리 파라미터로 전달**합니다. 백엔드는 정렬·거리 계산에만 쓰고 저장하지 않습니다.\n- 캠퍼스 반경(약 500m) 밖이거나 좌표가 없으면 거리는 표시하지 않습니다(정렬만 정문 기준).\n- **운영시간/운영상태는 건물에만** 있습니다. 장소(비건물)는 운영시간 없이 위치·추가정보만 제공합니다.\n- 즐겨찾기는 건물·장소를 핀 ID 하나로 동일하게 다룹니다.\n\n## 인증\n- 조회 API는 비로그인 가능. 로그인 시 즐겨찾기 여부가 표시되고 칩 목록에서 즐겨찾기가 상단 정렬됩니다.\n- 즐겨찾기 토글은 로그인 필요.\n\n---\n\n## 버스 도착 정보\n명지대 주변 정류장(A/B)의 서울 버스 실시간 도착 정보를 공공데이터포털에서 중계합니다. 프론트는 정류장 키(A/B)만 전달합니다.\n\n## 명지도 검색\n건물/장소를 이름·카테고리로 검색합니다(초성·오타 허용, 자동완성 제공). 기존 통합검색(search 문서)과 별개이며 캠퍼스 건물/장소만 대상입니다."
  },
  "servers": [
    {
      "url": "https://api.thingo.kr/api/v1",
      "description": "운영 서버"
    }
  ],
  "tags": [
    {
      "name": "명지도 - 카테고리",
      "description": "지도 위 핀을 묶는 칩(카테고리) 클릭 시 장소/건물 목록(`/pins`)과 지도 마커(`/markers`)를 제공하는 API. 상단 퀵메뉴/전체 카테고리 구성은 프론트가 자체 보유(onClick 매핑)하므로 백엔드는 목록만 제공합니다.\n\n칩은 4개 그룹으로 나뉩니다 — 식사(food), 학습·휴식(study), 편의(convenience), 건물·이동(guide). 상단 편의시설 칩(증명발급기·우편·주차장·화장실·은행·프린터·편의점·충전기)이 편의 그룹이며, 이들을 누르면 소속 건물+층이 있는 시설은 `type=FLOOR_MAP`+`link`로 내려와 층별안내도로 이동합니다. 대동명지도처럼 하위 탭(한식/중식)을 갖는 칩도 있습니다.\n\n칩(카테고리) 정의(code·label·아이콘·소속 그룹)의 단일 원천은 운영팀 구글 시트이며, `/sync/map` 동기화로 DB에 적재됩니다."
    },
    {
      "name": "명지도 - 건물/장소",
      "description": "건물 목록·상세, 장소(비건물) 상세 API. 운영 상태와 거리는 요청 시점에 계산해 내려줍니다. 운영시간은 건물에만 존재합니다."
    },
    {
      "name": "Review",
      "description": "명지도 장소 리뷰 API. 등록, 최신순·좋아요순 무한 스크롤, 상세, 좋아요/FCM, 사진·영상, 키워드, 기존 신고·차단 정책 연동을 포함합니다."
    },
    {
      "name": "명지도 - 즐겨찾기",
      "description": "건물/장소 즐겨찾기 토글 API. 즐겨찾기한 핀은 칩 목록에서 상단으로 정렬됩니다. 로그인 필요."
    },
    {
      "name": "명지도 - 검색",
      "description": "명지도 전용 검색 API. 기존 통합검색(/search)과 별개로 캠퍼스 건물/장소만 대상으로 합니다. 건물/장소명 + 카테고리명을 매칭하며 부분일치·초성(ㅌㅆ→투썸)·오타 허용·공백/대소문자 무시를 자동 처리합니다. 결과 목록(무한 스크롤)과 자동완성을 제공합니다."
    },
    {
      "name": "명지도 - 동기화",
      "description": "구글 시트(운영팀) → DB 명지도 데이터 upsert. X-Sync-Token 보호, 운영자 전용."
    },
    {
      "name": "Bus Arrivals",
      "description": "서울 버스 실시간 도착 정보 API. 공공데이터포털 `getStationByUid`를 백엔드에서 중계하여 노선 번호, 방면, 막차 시간, 남은 시간, 정류장 수, 혼잡도, 즐겨찾기 여부를 제공합니다."
    }
  ],
  "paths": {
    "/map/categories/{code}/pins": {
      "get": {
        "tags": ["명지도 - 카테고리"],
        "summary": "칩 클릭 시 장소/건물 목록 조회",
        "operationId": "getPinsByCategory",
        "description": "**기본 지도(캠퍼스 전체)** 상단 칩을 눌렀을 때 지도 하단 바텀시트에 띄울 캠퍼스 전역 목록입니다. 편의시설 칩(증명발급기·우편·주차장·화장실·은행 등)도 이 API 하나로 동작합니다.\n\n### 기본 지도 vs 층별안내도 (어느 화면이 이 API를 쓰나)\n- **기본 지도 칩** → 이 API(`/map/categories/{code}/pins`). 캠퍼스 전체에서 해당 카테고리 시설을 모아 거리순으로 내려줍니다. 지도 마커는 `/map/categories/{code}/markers`로 별도 조회합니다.\n- **특정 건물 층별안내도 화면** → 이 API가 아니라 `GET /map/buildings/{buildingId}`를 씁니다. 그 응답의 `categoryTabs`(그 건물에 실제 있는 카테고리)로 칩을 그리고 `floors[].places`(층별 시설)를 프론트가 필터링합니다. 층별안내도의 칩 필터는 그 건물 안에서만 동작하므로 칩마다 서버를 다시 부르지 않습니다.\n- **두 화면의 연결고리**: 기본 지도에서 이 API가 준 항목이 `type=FLOOR_MAP`이면 `link`로 그 건물 층별안내도로 이동합니다. 즉 이 API는 '어느 건물 몇 층에 있는지'를 알려주고 층별안내도로 진입시키는 역할입니다.\n\n### 사용 시나리오\n1. 사용자가 기본 지도에서 칩(예: 대동명지도, 화장실) 클릭\n2. 기기 GPS 좌표(lat/lng)와 함께 이 API 호출\n3. 응답 목록을 카드로 렌더, 동시에 지도에 핀을 찍음\n\n### 편의시설 칩 ↔ 층별안내도 연동 (이 기능의 핵심)\n- 화장실·은행·우편·증명발급기·프린터처럼 건물 안에 있는 시설은 각 항목이 `type=FLOOR_MAP` + `link`(`/maps/floor?buildingId=&floorLabel=&target=핀code`)로 내려옵니다. 프론트는 상세 대신 이 link로 **해당 건물 층별안내도**로 이동해 `target` 요소(SVG `[data-target]`)를 강조합니다.\n- `location`에 '건물명 층수'(예: `학생회관 F1`)가 채워져 카드에서 위치를 바로 보여줄 수 있습니다.\n- 주차장·흡연구역처럼 건물 밖(좌표만 있는) 시설은 `type=PLACE`(link=null)로 내려오고 `latitude`/`longitude`로 지도에 직접 찍습니다.\n- 즉 \"우편이면 우체국이 어디 있는지\"는 `code=mail` 호출 → `우편취급국 · 학생회관 F1 · link=…target=p-mail-b-student-01` 한 건으로 응답됩니다.\n\n### 편의/이동 칩 코드 매핑 (기존 시설 데이터 기준)\n| 칩(label) | code | 예시 데이터 |\n|---|---|---|\n| 증명발급기 | `certificate-kiosk` | 자동증명발급기(종합관 F1, 행정동 F1) |\n| 우편 | `mail` | 우편취급국(학생회관 F1) |\n| 주차장 | `parking` | 도서관 지하주차장 B2·B3, MCC 주차장 |\n| 화장실 | `restroom` | 남/여/장애인 화장실(건물·층별) |\n| 은행 | `bank` | 하나은행·새마을금고·ATM(행정동·학생회관 F1) |\n| 프린터 | `printer` | preprint·프린터·학생복지실 |\n| 편의점 | `convenience-store` | 세븐일레븐·이마트24·다이소 등 |\n| 충전기 | `power-bank` | 충전돼지 |\n| 흡연구역 | `smoking` | 흡연부스·흡연구역(외부 좌표) |\n\n> 칩 code·label·아이콘·소속 그룹은 운영팀 구글 시트에서 정의해 `/sync/map`으로 적재합니다. 카테고리가 없는 code로 호출하면 404를 반환합니다.\n\n### 정렬 규칙\n- 로그인 사용자의 **즐겨찾기가 먼저**, 그다음 **현재 위치에서 가까운 순**\n- 캠퍼스 반경(약 500m) 밖이면: 거리는 표시하지 않고(미표시) **정문 기준 가까운 순**으로 정렬\n- GPS가 없으면: 거리 없이 이름순\n- 내부 시설(좌표 없음)은 소속 건물 좌표로 거리를 계산합니다.\n\n### 페이지네이션\n- 장소 목록은 무한 스크롤을 위해 `page`/`size`로 잘라 반환합니다. 반환 개수가 `size`보다 작으면 마지막 페이지입니다.\n- 건물 칩은 수가 적어 사실상 한 페이지로 들어옵니다.\n\n### 하위 탭\n- 대동명지도처럼 하위 탭(한식/중식)이 있는 칩은 자식 카테고리의 장소까지 함께 반환합니다.\n\n### 버스 칩\n- `code=bus`(resultType=BUS)는 목록이 아니라 버스 화면용입니다. 이 API는 빈 목록을 반환하므로 프론트는 `/bus/arrivals`로 이동하세요.",
        "parameters": [
          { "name": "code", "in": "path", "required": true, "description": "칩(카테고리) 코드. 허용 값 예시 —\n- 편의: `mail`(우편)·`restroom`(화장실)·`bank`(은행)·`parking`(주차장)·`certificate-kiosk`(증명발급기)·`printer`(프린터)·`convenience-store`(편의점)·`power-bank`(충전기)·`smoking`(흡연구역)·`gym`(체육시설)\n- 식사: `daedong`(하위탭 `daedong-kr`/`daedong-jp`/`daedong-cn`/`daedong-snack`/`daedong-meat`/`daedong-bar`/`daedong-cafe`/`daedong-western`)·`cafe`·`cafeteria`·`restaurant`·`truck`\n- 학습·휴식: `lounge`·`reading-room`·`study-room`·`break-room`·`terrace`·`club-room`\n- 건물·이동: `building`(BUILDING_LIST)·`campus-entrance`·`building-entrance`·`corridor`·`shortcut`\n- 버스: `bus`(BUS, 빈 목록 반환→프론트가 버스 화면으로 이동)\n\n등록되지 않은 코드면 404. 하위탭이 있는 칩(daedong)은 자식 카테고리 시설까지 포함해 반환.", "schema": { "type": "string", "example": "restroom" } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도(WGS84, 프론트 GPS). `lng`와 쌍으로 있어야 거리 계산. 없으면 거리 미표시(이름순). 명지대 인문캠퍼스는 대략 37.579~37.581.", "schema": { "type": "number", "format": "double", "minimum": -90, "maximum": 90, "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도(WGS84, 프론트 GPS). `lat`와 쌍으로 전달. 명지대 인문캠퍼스는 대략 126.921~126.925.", "schema": { "type": "number", "format": "double", "minimum": -180, "maximum": 180, "example": 126.9226 } },
          { "name": "page", "in": "query", "required": false, "description": "0부터 시작하는 페이지 번호(무한 스크롤). 음수면 0으로 보정. 반환 개수가 `size`보다 작으면 마지막 페이지.", "schema": { "type": "integer", "minimum": 0, "default": 0, "example": 0 } },
          { "name": "size", "in": "query", "required": false, "description": "페이지 크기(1 이상). 0 이하면 20으로 보정.", "schema": { "type": "integer", "minimum": 1, "default": 20, "example": 20 } },
          { "name": "seed", "in": "query", "required": false, "description": "대동명지도(`daedong` 계열) 추천 정렬 순서를 세션 동안 고정하는 선택 문자열. 그 외 칩에는 영향 없음. 비우면 로그인 이메일(비로그인은 anonymous)과 그날 날짜로 순서가 정해짐.", "schema": { "type": "string", "example": "a1b2c3" } }
        ],
        "responses": {
          "200": {
            "description": "장소/건물 요약 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PinSummary" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 210, "type": "FLOOR_MAP", "name": "여자화장실", "categoryCode": "restroom", "iconKey": "RestroomIcon", "imageUrl": null, "classroomCode": null, "location": "학생회관 F1", "favorite": false, "operatingStatus": "운영중", "distanceMeters": 45, "latitude": 37.5803346, "longitude": 126.9234212, "indoorCode": null, "link": "/maps/floor?buildingId=2&floorLabel=F1&target=p-restroom-b-student-23" },
                    { "id": 260, "type": "PLACE", "name": "MCC 야외 주차장", "categoryCode": "parking", "iconKey": "ParkingIcon", "imageUrl": null, "classroomCode": null, "location": "MCC관 F4", "favorite": false, "operatingStatus": "운영중", "distanceMeters": 180, "latitude": 37.5795181, "longitude": 126.9226788, "indoorCode": null, "link": "/maps/floor?buildingId=10&floorLabel=F4&target=p-parking-b-mcc-05" }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 칩 코드",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_CATEGORY_NOT_FOUND", "message": "[MJS] 해당 카테고리를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/categories/{code}/markers": {
      "get": {
        "tags": ["명지도 - 카테고리"],
        "summary": "칩 클릭 시 지도 마커 조회",
        "operationId": "getMarkersByCategory",
        "description": "칩을 눌렀을 때 **지도 위에 찍을 마커** 목록입니다. 목록 카드(`/pins`)와 짝을 이룹니다.\n\n### 왜 별도 API인가\n화장실처럼 한 건물에 같은 시설이 수십 개면 지도에 핀이 겹칩니다. 이 API는 **건물 안 시설을 건물별 대표 마커 하나로 묶어**(`grouped=true`, `title='화장실 19개'`) 내려주고, 마커 탭 시 그 건물 상세/층별안내도로 들어가 개별 시설을 보게 합니다. 건물 밖(좌표만 있는) 시설과 건물은 개별 마커(`grouped=false`, `count=1`)입니다.\n\n### 하위 탭·버스 칩\n- 하위 탭이 있는 칩은 자식 카테고리 시설까지 포함합니다.\n- 버스 칩(resultType=BUS)은 빈 목록을 반환합니다.",
        "parameters": [
          { "name": "code", "in": "path", "required": true, "description": "칩 코드 (예: restroom, bank, parking)", "schema": { "type": "string", "example": "restroom" } }
        ],
        "responses": {
          "200": {
            "description": "지도 마커 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/MapMarker" } },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 2, "type": "BUILDING", "title": "화장실 19개", "location": "학생회관", "categoryCode": "restroom", "iconKey": "RestroomIcon", "count": 19, "grouped": true, "latitude": 37.5803346, "longitude": 126.9234212 },
                    { "id": 1, "type": "BUILDING", "title": "화장실 22개", "location": "종합관", "categoryCode": "restroom", "iconKey": "RestroomIcon", "count": 22, "grouped": true, "latitude": 37.5802215, "longitude": 126.9225443 }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 칩 코드",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_CATEGORY_NOT_FOUND", "message": "[MJS] 해당 카테고리를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/buildings": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "건물 전체 목록 조회",
        "operationId": "getBuildings",
        "description": "바텀시트에 건물 카드를 나열할 때 사용합니다.\n\n### 사용 시나리오\n1. 명지도 기본 화면에서 바텀시트를 위로 슬라이드\n2. (선택) 기기 GPS 좌표와 함께 호출\n3. 건물 카드 목록 렌더\n\n### 특징\n- **건물 번호 순**으로 고정 노출, 페이지네이션 없음 (건물 수가 적음)\n- 각 건물의 운영 상태(운영중/곧 종료 등)와 거리, 즐겨찾기 여부를 함께 계산해 반환\n- 강의실 코드(예: S1XXX)는 건물 카드/상세에 표시",
        "parameters": [
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "건물 요약 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PinSummary" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 1, "type": "BUILDING", "name": "종합관", "categoryCode": "building", "iconKey": "BuildingIcon", "imageUrl": "https://thingo.kr/img/building/1.jpg", "classroomCode": "S1XXX", "location": null, "favorite": false, "operatingStatus": "24시간 운영", "distanceMeters": 80 },
                    { "id": 7, "type": "BUILDING", "name": "방목학술정보관", "categoryCode": "building", "iconKey": "BuildingIcon", "imageUrl": "https://thingo.kr/img/building/7.jpg", "classroomCode": "S7XXX", "location": null, "favorite": true, "operatingStatus": "운영중", "distanceMeters": 240 }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          }
        }
      }
    },
    "/map/buildings/{buildingId}": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "건물 상세 조회",
        "operationId": "getBuildingDetail",
        "description": "건물 카드를 눌러 들어가는 상세 페이지입니다.\n\n### 포함 정보\n- 기본 정보: 건물명, 아이콘, 이미지, 건물 번호, 강의실 코드\n- **운영 상태**(실시간 계산) + **요일별 운영시간**(토글에 나열)\n- **카테고리 필터 탭**: 이 건물 안에 있는 장소들의 카테고리 모음 (별도 데이터가 아니라 유도값)\n- **층별 시설 목록**: 층(B1, F1 ...)별로 시설을 묶고, 각 층의 안내도 이미지 포함\n\n### 운영 상태 종류\n곧 운영 시작 / 운영중 / 곧 운영 종료 / 운영 종료 / 24시간 운영 / 휴무",
        "parameters": [
          { "name": "buildingId", "in": "path", "required": true, "description": "건물 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 7 } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "건물 상세",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "$ref": "#/components/schemas/BuildingDetail" },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 건물",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/places/{placeId}": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "장소(비건물) 상세 조회",
        "operationId": "getPlaceDetail",
        "description": "장소 카드를 눌러 들어가는 상세 페이지입니다. 건물 상세와 달리 **강의실 코드와 운영시간이 없고**, 대신 위치와 추가정보를 제공합니다.\n\n### 포함 정보\n- 기본 정보: 장소명, 카테고리 아이콘, 이미지\n- **위치**: 건물 안 시설이면 '건물명 + 층수', 건물 밖 장소면 '도로명 주소'\n- **추가정보(infoText)**: 기타 안내 텍스트\n- 거리, 즐겨찾기 여부\n\n장소는 운영시간/운영상태를 제공하지 않습니다(운영시간은 건물에만).",
        "parameters": [
          { "name": "placeId", "in": "path", "required": true, "description": "장소 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 51 } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "장소 상세",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "$ref": "#/components/schemas/PlaceDetail" },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "id": 51, "name": "행복식당", "categoryCode": "korean", "iconKey": "KoreanFoodIcon",
                    "imageUrl": "https://thingo.kr/img/place/51.jpg", "favorite": true, "distanceMeters": 150,
                    "location": "서울 서대문구 거북골로 34", "infoText": "현금 결제만 가능, 단체석 보유"
                  },
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 장소",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/search": {
      "get": {
        "tags": ["명지도 - 검색"],
        "summary": "명지도 검색 (건물/장소)",
        "operationId": "searchMap",
        "description": "명지도 전용 검색입니다. 응답 최상단 `resultType`은 배열 전체의 화면 종류를 나타내며 한 응답 안에서 섞이지 않습니다.\n\n### 분기 우선순위\n1. 정확한 실내 title/호실 코드: `FLOOR_MAP` — `{id,name,link}` 한 건\n2. 등록된 명지도 라벨 정확 일치: `LABEL` — 기존 `/map/categories/{code}/pins`와 동일한 목록\n3. 그 외: `GENERAL` — 기존 건물/장소 검색 목록\n\n`카페`, `프린터`, `대동명지도`처럼 라벨과 정확히 일치하면 장소명 검색 결과가 있어도 `LABEL`을 우선합니다.\n\n### 검색 품질\n- 일반 검색은 공백/기호 무시, 부분 일치, 초성, 오타 허용을 지원합니다.\n- `FLOOR_MAP`은 정확 일치만 허용합니다.\n\n### 페이지네이션\n- `LABEL`과 `GENERAL`은 `page`/`size`를 사용합니다. `FLOOR_MAP`은 첫 페이지에 한 건만 반환합니다.",
        "parameters": [
          { "name": "keyword", "in": "query", "required": true, "description": "검색어 (건물/장소명 또는 카테고리명, 초성/오타 허용). 비면 빈 목록", "schema": { "type": "string", "example": "투썸" } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS). 없으면 거리 미계산", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } },
          { "name": "page", "in": "query", "required": false, "description": "0부터 시작하는 페이지 번호", "schema": { "type": "integer", "default": 0, "example": 0 } },
          { "name": "size", "in": "query", "required": false, "description": "페이지 크기", "schema": { "type": "integer", "default": 20, "example": 20 } },
          { "name": "seed", "in": "query", "required": false, "description": "대동명지도 추천 순서를 세션 동안 고정할 seed", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "검색 결과. resultType에 따라 data 항목 스키마가 결정됩니다.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/FloorMapSearchResponse" },
                    { "$ref": "#/components/schemas/LabelMapSearchResponse" },
                    { "$ref": "#/components/schemas/GeneralMapSearchResponse" }
                  ],
                  "discriminator": {
                    "propertyName": "resultType",
                    "mapping": {
                      "FLOOR_MAP": "#/components/schemas/FloorMapSearchResponse",
                      "LABEL": "#/components/schemas/LabelMapSearchResponse",
                      "GENERAL": "#/components/schemas/GeneralMapSearchResponse"
                    }
                  }
                },
                "examples": {
                  "FLOOR_MAP": {
                    "summary": "정확한 호실 코드 검색",
                    "value": {
                      "status": "API 요청 성공",
                      "resultType": "FLOOR_MAP",
                      "data": [
                        { "id": 353, "name": "강의실 S1353", "link": "/maps/floor?buildingId=2&floorLabel=F4&target=S1353" }
                      ],
                      "timestamp": "2026-07-02T09:05:12"
                    }
                  },
                  "LABEL": {
                    "summary": "등록 라벨 정확 일치",
                    "value": {
                      "status": "API 요청 성공",
                      "resultType": "LABEL",
                      "data": [
                        { "id": 51, "type": "PLACE", "name": "교내 카페", "categoryCode": "cafe", "iconKey": "CafeIcon", "favorite": false, "distanceMeters": 120 }
                      ],
                      "timestamp": "2026-07-02T09:05:12"
                    }
                  },
                  "GENERAL": {
                    "summary": "일반 건물·장소 검색",
                    "value": {
                      "status": "API 요청 성공",
                      "resultType": "GENERAL",
                      "data": [
                        { "id": 1, "type": "BUILDING", "name": "종합관", "categoryCode": "building", "iconKey": "BuildingIcon", "classroomCode": "S1XXX", "favorite": false, "operatingStatus": "운영중", "distanceMeters": 80, "latitude": 37.5803, "longitude": 126.9223 }
                      ],
                      "timestamp": "2026-07-02T09:05:12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map/search/suggest": {
      "get": {
        "tags": ["명지도 - 검색"],
        "summary": "명지도 검색 자동완성",
        "operationId": "suggestMap",
        "description": "검색어를 입력하는 중 실시간으로 이름을 제안하는 경량 API입니다. 거리·운영상태는 계산하지 않아 빠릅니다.\n\n### 사용 시나리오\n1. 검색창에 글자를 입력할 때마다 호출(디바운스 권장)\n2. 제안 목록을 드롭다운으로 표시 (아이콘 + 이름)\n3. 항목 탭 시 응답 항목의 `type`으로 상세 분기 (`id`로 상세 요청)\n\n### 매칭 규칙\n- 검색(`/map/search`)과 동일: 부분 일치 / 초성(`ㅌㅆ`) / 오타 허용 / 공백·대소문자 무시",
        "parameters": [
          { "name": "keyword", "in": "query", "required": true, "description": "검색어(입력 중 문자열). 비면 빈 목록", "schema": { "type": "string", "example": "투" } },
          { "name": "limit", "in": "query", "required": false, "description": "최대 제안 개수", "schema": { "type": "integer", "default": 10, "example": 10 } }
        ],
        "responses": {
          "200": {
            "description": "자동완성 제안 목록 (관련도 순)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/MapSuggestItem" } },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-07-02T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 51, "name": "투썸플레이스 명지대점", "type": "PLACE", "categoryCode": "cafe", "iconKey": "CafeIcon" },
                    { "id": 88, "name": "투썸플레이스 남가좌점", "type": "PLACE", "categoryCode": "cafe", "iconKey": "CafeIcon" }
                  ],
                  "timestamp": "2026-07-02T09:05:12"
                }
              }
            }
          }
        }
      }
    },
    "/map/favorites": {
      "post": {
        "tags": ["명지도 - 즐겨찾기"],
        "summary": "건물/장소 즐겨찾기 토글",
        "operationId": "togglePinFavorite",
        "description": "건물 또는 장소를 마이 즐겨찾기 리스트에 추가하거나 해제합니다.\n\n### 동작\n- 즐겨찾기가 없으면 등록(true), 이미 있으면 해제(false) - 토글 방식\n- 건물·장소 구분 없이 핀 ID(`pinId`) 하나로 다룹니다\n- 즐겨찾기한 핀은 칩 목록에서 상단으로 정렬되고 각 응답에서 `favorite=true`로 표시됩니다\n\n### 인증\n로그인 필요 (Bearer 토큰).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "pinId", "in": "query", "required": true, "description": "건물/장소 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 51 } }
        ],
        "responses": {
          "200": {
            "description": "토글 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "boolean", "description": "true: 즐겨찾기 추가됨 / false: 즐겨찾기 해제됨", "example": true },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                }
              }
            }
          },
          "401": { "description": "미인증 (로그인 필요)" },
          "404": {
            "description": "존재하지 않는 핀",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/bus/arrivals": {
      "get": {
        "tags": ["Bus Arrivals"],
        "summary": "실시간 버스 도착 정보 조회",
        "operationId": "getBusArrivals",
        "description": "정류장(A/B)의 실시간 버스 도착 정보를 반환합니다.\n\n### 사용 시나리오\n1. 지도에서 정류장(A 또는 B) 선택\n2. `station=A` 또는 `station=B`로 호출\n3. 응답의 `buses` 배열을 화면 목록으로 렌더링 (즐겨찾기 노선이 상단)\n\n### 혼잡도\n| 코드 | 한글 |\n|------|------|\n| 3 | 여유 |\n| 4 | 보통 |\n| 5 | 혼잡 |\n| 6 | 매우혼잡 |\n| 0 | (정보없음 → null) |",
        "parameters": [
          {
            "name": "station",
            "in": "query",
            "required": true,
            "description": "정류장 선택 키",
            "schema": {
              "type": "string",
              "enum": ["A", "B"],
              "example": "A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "버스 도착 정보 반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBusArrival"
                },
                "examples": {
                  "stationA": {
                    "summary": "정류장 A (station=A) 조회 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "arsId": "13195",
                        "stationName": "명지대 (DMC센트럴아이파크아파트 방면)",
                        "lat": 37.5815,
                        "lng": 126.9187,
                        "buses": [
                          {
                            "routeName": "7611",
                            "direction": "여의도",
                            "lastBusTime": "23:30",
                            "favorite": true,
                            "arrivals": []
                          },
                          {
                            "routeName": "7612",
                            "direction": "영등포구청역",
                            "lastBusTime": "23:40",
                            "favorite": false,
                            "arrivals": [
                              {
                                "remainingTime": "5분 10초",
                                "stationCount": "2정류장",
                                "congestion": "보통"
                              },
                              {
                                "remainingTime": "10분 20초",
                                "stationCount": "4정류장",
                                "congestion": "혼잡"
                              }
                            ]
                          },
                          {
                            "routeName": "7734",
                            "direction": "홍대입구역",
                            "lastBusTime": "23:00",
                            "favorite": false,
                            "arrivals": [
                              {
                                "remainingTime": "곧 도착",
                                "stationCount": null,
                                "congestion": "여유"
                              },
                              {
                                "remainingTime": "6분 55초",
                                "stationCount": "4정류장",
                                "congestion": "보통"
                              }
                            ]
                          }
                        ]
                      },
                      "timestamp": "2026-05-19T09:05:12"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 정류장 키 (A/B 아님)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_STATION_NOT_FOUND",
                  "message": "[MJS] 지원하지 않는 정류장입니다. (A 또는 B)",
                  "status": 400
                }
              }
            }
          },
          "404": {
            "description": "해당 정류장의 도착 예정 버스 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_ARRIVAL_NOT_FOUND",
                  "message": "[MJS] 버스 도착 정보를 찾을 수 없습니다.",
                  "status": 404
                }
              }
            }
          },
          "502": {
            "description": "외부 공공데이터 API 호출 실패",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_ARRIVAL_API_CALL_FAILED",
                  "message": "[MJS] 버스 도착 정보 API 호출에 실패했습니다.",
                  "status": 502
                }
              }
            }
          }
        }
      }
    },
    "/bus/favorites": {
      "post": {
        "tags": ["Bus Arrivals"],
        "summary": "버스 노선 즐겨찾기 토글",
        "operationId": "toggleBusFavorite",
        "description": "정류장(A/B)의 특정 노선을 즐겨찾기에 추가하거나 해제합니다.\n\n### 동작\n- 즐겨찾기가 없으면 등록(true), 이미 있으면 해제(false) - 토글 방식\n- 즐겨찾기한 노선은 `/bus/arrivals` 응답에서 상단 정렬되고 `favorite=true`로 표시됩니다.\n\n### 인증\n로그인 필요 (Bearer 토큰).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "station",
            "in": "query",
            "required": true,
            "description": "정류장 선택 키",
            "schema": { "type": "string", "enum": ["A", "B"], "example": "A" }
          },
          {
            "name": "routeName",
            "in": "query",
            "required": true,
            "description": "버스 노선 번호",
            "schema": { "type": "string", "example": "7611" }
          }
        ],
        "responses": {
          "200": {
            "description": "토글 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "boolean",
                      "description": "true: 즐겨찾기 추가됨 / false: 즐겨찾기 해제됨",
                      "example": true
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-05-19T09:05:12" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 정류장 키 (A/B 아님)"
          },
          "401": {
            "description": "미인증 (로그인 필요)"
          }
        }
      }
    },
    "/sync/map": {
      "post": {
        "tags": ["명지도 - 동기화"],
        "summary": "구글 시트 → DB 명지도 동기화 (운영자 전용)",
        "operationId": "syncMap",
        "description": "운영팀 구글 시트(Apps Script)가 편집한 명지도 데이터를 한 번에 DB로 upsert 합니다. 조회 API가 아니라 **운영자 적재용**입니다.\n\n### 인증\n- 헤더 `X-Sync-Token` 상수시간 비교. 값 불일치 시 본문 파싱 전에 401.\n\n### 동작\n- code(그룹/카테고리/핀) 또는 (건물+층 / 건물+요일) 키로 **upsert** (재발행해도 중복 없음, 즐겨찾기 보존).\n- 처리 순서: 그룹 → 카테고리(최상위 먼저, 하위탭 나중) → 건물 → 층 → 장소 → 운영시간. 한 건이라도 검증 실패하면 전체 롤백.\n- 하위탭(parentCode 있음)은 result_type을 부모에게서 상속하므로 생략 가능. 외부 장소는 latitude/longitude를 직접 주거나 비우면 좌표 미변환.\n- v1은 추가/수정만. 시트에서 빠진 행의 자동 삭제는 하지 않습니다.",
        "parameters": [
          {
            "name": "X-Sync-Token",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "동기화 공유 토큰 (서버 설정값과 일치해야 함)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MapSyncRequest" },
              "example": {
                "groups": [ { "code": "food", "name": "식사 (F&B)", "displayOrder": 1 } ],
                "categories": [
                  { "code": "daedong", "groupCode": "food", "label": "대동명지도", "resultType": "PLACE_LIST", "quickMenu": true, "displayOrder": 1 },
                  { "code": "daedong-kr", "groupCode": "food", "parentCode": "daedong", "label": "한식", "displayOrder": 1 }
                ],
                "buildings": [ { "code": "b-jonghap", "categoryCode": "building", "name": "종합관", "latitude": 37.5802215, "longitude": 126.9225443, "buildingNumber": 1, "infoText": "구 본관" } ],
                "floors": [ { "buildingCode": "b-jonghap", "label": "F1", "floorOrder": 1 } ],
                "places": [ { "code": "dd-1025414098", "categoryCode": "daedong-kr", "name": "삼정식당", "latitude": 37.5796415, "longitude": 126.9250425, "address": "서울 서대문구 거북골로 25-8" } ],
                "operatingHours": [ { "buildingCode": "b-jonghap", "dayOfWeek": "MONDAY", "openTime": "09:00", "closeTime": "22:00" } ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "섹션별 처리 건수",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": { "groups": 4, "categories": 35, "buildings": 8, "floors": 0, "places": 305, "operatingHours": 0 },
                  "timestamp": "2026-07-01T01:19:28"
                }
              }
            }
          },
          "400": {
            "description": "행 검증 실패 (MAP_SYNC_INVALID_ROW). 어느 섹션 몇 번째 행이 왜 틀렸는지 message에 담김. 전체 롤백"
          },
          "401": {
            "description": "토큰 불일치 (MAP_SYNC_UNAUTHORIZED)"
          }
        }
      }
    },
    "/reviews": {
      "$ref": "./review.json#/paths/~1reviews"
    },
    "/reviews/{reviewUuid}": {
      "$ref": "./review.json#/paths/~1reviews~1{reviewUuid}"
    },
    "/reviews/{reviewUuid}/like": {
      "$ref": "./review.json#/paths/~1reviews~1{reviewUuid}~1like"
    },
    "/reviews/media": {
      "$ref": "./review.json#/paths/~1reviews~1media"
    },
    "/reviews/keywords": {
      "$ref": "./review.json#/paths/~1reviews~1keywords"
    },
    "/s3/upload": {
      "$ref": "./review.json#/paths/~1s3~1upload"
    },
    "/reviews/moderation/hidden": {
      "$ref": "./review.json#/paths/~1reviews~1moderation~1hidden"
    },
    "/reviews/moderation/{reviewUuid}/restore": {
      "$ref": "./review.json#/paths/~1reviews~1moderation~1{reviewUuid}~1restore"
    }
  },
  "components": {
    "schemas": {
      "MapSyncRequest": {
        "type": "object",
        "description": "구글 시트 6개 탭에 대응하는 동기화 본문. 각 섹션은 생략 가능(생략 시 해당 섹션 미변경).",
        "properties": {
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/SyncGroupRow" } },
          "categories": { "type": "array", "items": { "$ref": "#/components/schemas/SyncCategoryRow" } },
          "buildings": { "type": "array", "items": { "$ref": "#/components/schemas/SyncBuildingRow" } },
          "floors": { "type": "array", "items": { "$ref": "#/components/schemas/SyncFloorRow" } },
          "places": { "type": "array", "items": { "$ref": "#/components/schemas/SyncPlaceRow" } },
          "operatingHours": { "type": "array", "items": { "$ref": "#/components/schemas/SyncOperatingHourRow" } }
        }
      },
      "SyncGroupRow": {
        "type": "object",
        "description": "카테고리 대분류(그룹) 1행",
        "required": ["code", "name"],
        "properties": {
          "code": { "type": "string", "example": "food" },
          "name": { "type": "string", "example": "식사 (F&B)" },
          "displayOrder": { "type": "integer", "example": 1 }
        }
      },
      "SyncCategoryRow": {
        "type": "object",
        "description": "칩(카테고리) 1행. parentCode가 있으면 하위탭이며 result_type을 부모에게서 상속(생략 가능).",
        "required": ["code", "groupCode", "label"],
        "properties": {
          "code": { "type": "string", "example": "daedong" },
          "groupCode": { "type": "string", "example": "food" },
          "parentCode": { "type": "string", "nullable": true, "description": "하위탭이면 상위 칩 코드, 최상위면 생략", "example": "daedong" },
          "label": { "type": "string", "example": "한식" },
          "subtitle": { "type": "string", "nullable": true, "example": "by. 명월" },
          "tooltipText": { "type": "string", "nullable": true },
          "iconKey": { "type": "string", "nullable": true, "example": "MyeongwolIcon" },
          "resultType": { "type": "string", "enum": ["PLACE_LIST", "BUILDING_LIST", "BUS"], "description": "최상위 칩은 필수, 하위탭은 부모 상속(생략 가능)" },
          "quickMenu": { "type": "boolean", "example": true },
          "displayOrder": { "type": "integer", "example": 1 }
        }
      },
      "SyncBuildingRow": {
        "type": "object",
        "description": "건물 1행. 위도/경도는 핀 겹침 방지를 위해 운영팀이 직접 입력.",
        "required": ["code", "categoryCode", "name"],
        "properties": {
          "code": { "type": "string", "example": "b-jonghap" },
          "categoryCode": { "type": "string", "example": "building" },
          "name": { "type": "string", "example": "종합관" },
          "latitude": { "type": "number", "format": "double", "example": 37.5802215 },
          "longitude": { "type": "number", "format": "double", "example": 126.9225443 },
          "imageUrl": { "type": "string", "nullable": true },
          "infoText": { "type": "string", "nullable": true, "example": "구 본관" },
          "buildingNumber": { "type": "integer", "nullable": true, "example": 1 },
          "classroomCode": { "type": "string", "nullable": true, "example": "S1XXX" }
        }
      },
      "SyncFloorRow": {
        "type": "object",
        "description": "건물 층 1행 (건물코드 + 층 라벨로 식별)",
        "required": ["buildingCode", "label"],
        "properties": {
          "buildingCode": { "type": "string", "example": "b-jonghap" },
          "label": { "type": "string", "example": "F1" },
          "floorOrder": { "type": "integer", "description": "지하 음수/지상 양수", "example": 1 },
          "mapImageUrl": { "type": "string", "nullable": true }
        }
      },
      "SyncPlaceRow": {
        "type": "object",
        "description": "장소(비건물) 1행. 내부 장소는 parentBuildingCode+floorLabel, 외부 장소는 address 또는 latitude/longitude.",
        "required": ["code", "categoryCode", "name"],
        "properties": {
          "code": { "type": "string", "example": "dd-1025414098" },
          "categoryCode": { "type": "string", "example": "daedong-kr" },
          "name": { "type": "string", "example": "삼정식당" },
          "latitude": { "type": "number", "format": "double", "nullable": true, "example": 37.5796415 },
          "longitude": { "type": "number", "format": "double", "nullable": true, "example": 126.9250425 },
          "imageUrl": { "type": "string", "nullable": true },
          "infoText": { "type": "string", "nullable": true },
          "address": { "type": "string", "nullable": true, "description": "외부 장소 도로명 주소", "example": "서울 서대문구 거북골로 25-8" },
          "parentBuildingCode": { "type": "string", "nullable": true, "description": "내부 장소면 소속 건물 코드" },
          "floorLabel": { "type": "string", "nullable": true, "description": "내부 장소면 소속 층 라벨" },
          "indoorCode": { "type": "string", "nullable": true, "description": "검색 가능한 실제 호실/요소 코드. 입력 시 소속 건물과 층 필수", "example": "S1353" }
        }
      },
      "FloorMapSearchItem": {
        "type": "object",
        "description": "정확한 실내 title 검색 결과. 프론트는 link로 그대로 이동한다.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 353 },
          "name": { "type": "string", "example": "강의실 S1353" },
          "link": { "type": "string", "example": "/maps/floor?buildingId=2&floorLabel=F4&target=S1353" }
        },
        "required": ["id", "name", "link"]
      },
      "FloorMapSearchResponse": {
        "title": "FLOOR_MAP",
        "type": "object",
        "description": "정확한 실내 title/호실 코드 검색 결과",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "resultType": { "type": "string", "enum": ["FLOOR_MAP"] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/FloorMapSearchItem" } },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["status", "resultType", "data", "timestamp"]
      },
      "LabelMapSearchResponse": {
        "title": "LABEL",
        "type": "object",
        "description": "등록된 명지도 라벨 정확 일치 결과",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "resultType": { "type": "string", "enum": ["LABEL"] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PinSummary" } },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["status", "resultType", "data", "timestamp"]
      },
      "GeneralMapSearchResponse": {
        "title": "GENERAL",
        "type": "object",
        "description": "일반 건물·장소 검색 결과",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "resultType": { "type": "string", "enum": ["GENERAL"] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PinSummary" } },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["status", "resultType", "data", "timestamp"]
      },
      "SyncOperatingHourRow": {
        "type": "object",
        "description": "건물 운영시간 1행 (건물코드 + 요일로 식별). 건물만 가짐.",
        "required": ["buildingCode", "dayOfWeek"],
        "properties": {
          "buildingCode": { "type": "string", "example": "b-jonghap" },
          "dayOfWeek": { "type": "string", "enum": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"] },
          "openTime": { "type": "string", "nullable": true, "example": "09:00" },
          "closeTime": { "type": "string", "nullable": true, "description": "자정 넘김은 23:59", "example": "22:00" },
          "always24h": { "type": "boolean", "nullable": true },
          "closed": { "type": "boolean", "nullable": true },
          "note": { "type": "string", "nullable": true }
        }
      },
      "PinSummary": {
        "type": "object",
        "description": "목록 카드 1개 (건물 목록 / 칩 클릭 장소 목록 공용). 종류별로 일부 필드만 채워진다.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "description": "핀 ID (상세 요청에 사용)", "example": 51 },
          "type": { "type": "string", "description": "이동 종류. 프론트가 이 값으로 화면을 분기한다.\n- BUILDING: 건물 상세(`/map/buildings/{id}`)\n- PLACE: 장소 상세(`/map/places/{id}`)\n- FLOOR_MAP: 소속 건물+층이 모두 있는 내부 시설. 상세 대신 `link`의 층별안내도로 이동해 `target`(핀 code) 요소를 강조한다. 화장실/은행/우편/프린터 같은 편의 칩 목록에서 주로 나온다.", "enum": ["BUILDING", "PLACE", "FLOOR_MAP"], "example": "FLOOR_MAP" },
          "name": { "type": "string", "description": "건물명/장소명", "example": "행복식당" },
          "categoryCode": { "type": "string", "description": "소속 카테고리 코드", "example": "korean" },
          "iconKey": { "type": "string", "description": "카드 아이콘 키 (카테고리 아이콘)", "example": "KoreanFoodIcon" },
          "imageUrl": { "type": "string", "nullable": true, "description": "이미지 URL. 없으면 null (레이아웃 분기)", "example": "https://thingo.kr/img/place/51.jpg" },
          "classroomCode": { "type": "string", "nullable": true, "description": "예시 강의실 코드 (건물만). 장소는 null", "example": "S1XXX" },
          "location": { "type": "string", "nullable": true, "description": "위치 텍스트 (장소만: 건물명+층수 또는 주소). 건물은 null", "example": "서울 서대문구 거북골로 34" },
          "favorite": { "type": "boolean", "description": "즐겨찾기 여부 (비로그인 시 false)", "example": true },
          "operatingStatus": { "type": "string", "nullable": true, "description": "운영 상태 한글 라벨. 기본값: '곧 운영 시작' / '운영중' / '곧 운영 종료' / '운영 종료' / '24시간 운영' / '휴무'. 검색(/map/search) 결과에서는 '운영 종료'에 다음 오픈 안내가 붙는다(예: '운영 종료 (내일 09:00 오픈)'). 건물은 자기 운영시간, 검색 결과의 내부 장소는 소속 건물 운영시간을 상속. 외부 장소/운영시간 없으면 null", "example": "운영중" },
          "distanceMeters": { "type": "integer", "nullable": true, "description": "현재 위치로부터 거리(미터). 캠퍼스 밖/GPS 없으면 null(미표시)", "example": 150 },
          "latitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 위도. 내부 장소는 소속 건물 좌표. 좌표 없으면 null", "example": 37.5796415 },
          "longitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 경도. 내부 장소는 소속 건물 좌표. 좌표 없으면 null", "example": 126.9250425 },
          "indoorCode": { "type": "string", "nullable": true, "description": "검색 가능한 실제 호실/요소 코드", "example": "S1353" },
          "link": { "type": "string", "nullable": true, "description": "type=FLOOR_MAP일 때만 채워지는 층별안내도 상대 URL. `/maps/floor?buildingId={건물ID}&floorLabel={층라벨}&target={핀 code}` 형식이며, 프론트는 이 값으로 이동해 SVG의 `[data-target]` 요소를 강조한다. BUILDING/PLACE는 null(상세 API로 이동).", "example": "/maps/floor?buildingId=2&floorLabel=F1&target=p-mail-b-student-01" }
        },
        "required": ["id", "type", "name", "categoryCode", "favorite"]
      },
      "MapMarker": {
        "type": "object",
        "description": "지도 마커 1개. 목록 카드(PinSummary)와 달리 내부 시설을 건물별 대표 마커 하나로 묶어(grouped=true) 지도 위 핀 겹침을 막는다. 외부 장소·건물은 개별 마커(grouped=false, count=1)다.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "description": "클릭 시 상세 조회에 쓸 핀 ID. 묶음 마커는 대표(부모) 건물 ID", "example": 2 },
          "type": { "type": "string", "description": "마커 종류", "enum": ["BUILDING", "PLACE"], "example": "BUILDING" },
          "title": { "type": "string", "description": "마커 제목. 묶음이면 '{라벨} {개수}개', 단건이면 시설명", "example": "화장실 19개" },
          "location": { "type": "string", "nullable": true, "description": "보조 위치. 묶음이면 건물명, 외부 장소면 주소, 건물이면 null", "example": "종합관" },
          "categoryCode": { "type": "string", "example": "restroom" },
          "iconKey": { "type": "string", "nullable": true, "example": "RestroomIcon" },
          "count": { "type": "integer", "description": "이 마커가 대표하는 시설 수. 단건은 1", "example": 19 },
          "grouped": { "type": "boolean", "description": "건물별로 묶인 대표 마커인지 여부", "example": true },
          "latitude": { "type": "number", "format": "double", "nullable": true, "example": 37.5802215 },
          "longitude": { "type": "number", "format": "double", "nullable": true, "example": 126.9225443 }
        },
        "required": ["id", "type", "title", "categoryCode", "count", "grouped"]
      },
      "MapSuggestItem": {
        "type": "object",
        "description": "검색 자동완성 항목 1개 (경량). 거리·운영상태 없음.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "description": "핀 ID (탭 시 상세 요청에 사용)", "example": 51 },
          "name": { "type": "string", "description": "건물명/장소명", "example": "투썸플레이스 명지대점" },
          "type": { "type": "string", "description": "종류. 프론트가 상세 화면을 분기", "enum": ["BUILDING", "PLACE"], "example": "PLACE" },
          "categoryCode": { "type": "string", "description": "소속 카테고리 코드", "example": "cafe" },
          "iconKey": { "type": "string", "description": "아이콘 키 (카테고리 아이콘)", "example": "CafeIcon" },
          "indoorCode": { "type": "string", "nullable": true, "example": "S1353" }
        },
        "required": ["id", "name", "type", "categoryCode"]
      },
      "OperatingHourLine": {
        "type": "object",
        "description": "요일별 운영시간 1줄",
        "properties": {
          "dayOfWeek": { "type": "string", "description": "요일 식별자", "enum": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"], "example": "MONDAY" },
          "dayLabel": { "type": "string", "description": "요일 한글", "example": "월" },
          "text": { "type": "string", "description": "운영시간 표시 텍스트", "example": "10:00-15:00" },
          "note": { "type": "string", "nullable": true, "description": "부가 안내. 없으면 null", "example": "00:00~05:00 학생증 태그 시 출입" }
        },
        "required": ["dayOfWeek", "dayLabel", "text"]
      },
      "BuildingCategoryTab": {
        "type": "object",
        "description": "건물 상세의 카테고리 필터 탭 1개 (건물 안 장소들의 카테고리에서 유도)",
        "properties": {
          "code": { "type": "string", "example": "printer" },
          "label": { "type": "string", "example": "프린터" },
          "iconKey": { "type": "string", "example": "PrinterIcon" }
        },
        "required": ["code", "label"]
      },
      "PlaceBrief": {
        "type": "object",
        "description": "층별 목록에 나열되는 시설 1개",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 120 },
          "name": { "type": "string", "example": "무한 프린터" },
          "categoryCode": { "type": "string", "example": "printer" },
          "iconKey": { "type": "string", "example": "PrinterIcon" },
          "indoorCode": { "type": "string", "nullable": true, "example": "S1353" }
        },
        "required": ["id", "name", "categoryCode"]
      },
      "BuildingFloorPlaces": {
        "type": "object",
        "description": "한 층의 시설 목록",
        "properties": {
          "floorId": { "type": "integer", "format": "int64", "nullable": true, "description": "층 ID. 층 미지정 시설 묶음이면 null", "example": 30 },
          "floorLabel": { "type": "string", "nullable": true, "description": "층 라벨 (B1, F1)", "example": "F1" },
          "floorOrder": { "type": "integer", "nullable": true, "description": "층 정렬 순서 (지하 음수, 지상 양수)", "example": 1 },
          "mapImageUrl": { "type": "string", "nullable": true, "description": "층별 안내도 이미지 URL", "example": "https://thingo.kr/img/floor/30.jpg" },
          "places": { "type": "array", "items": { "$ref": "#/components/schemas/PlaceBrief" } }
        },
        "required": ["places"]
      },
      "BuildingDetail": {
        "type": "object",
        "description": "건물 상세 응답",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 7 },
          "name": { "type": "string", "example": "방목학술정보관" },
          "iconKey": { "type": "string", "example": "BuildingIcon" },
          "imageUrl": { "type": "string", "nullable": true, "example": "https://thingo.kr/img/building/7.jpg" },
          "buildingNumber": { "type": "integer", "nullable": true, "description": "건물 고유 번호", "example": 7 },
          "classroomCode": { "type": "string", "nullable": true, "description": "예시 강의실 코드 (건물 상세에만 존재)", "example": "S7XXX" },
          "favorite": { "type": "boolean", "example": false },
          "operatingStatus": { "type": "string", "nullable": true, "description": "운영 상태 한글 라벨", "enum": ["곧 운영 시작", "운영중", "곧 운영 종료", "운영 종료", "24시간 운영", "휴무"], "example": "운영중" },
          "distanceMeters": { "type": "integer", "nullable": true, "example": 240 },
          "latitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 위도", "example": 37.5807286 },
          "longitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 경도", "example": 126.9243805 },
          "infoText": { "type": "string", "nullable": true, "description": "기타 안내 텍스트", "example": "06:00~00:00 운영" },
          "weeklyOperatingHours": { "type": "array", "description": "요일별 운영시간 (토글에 나열)", "items": { "$ref": "#/components/schemas/OperatingHourLine" } },
          "categoryTabs": { "type": "array", "description": "카테고리 필터 탭 (건물 안 장소들의 카테고리에서 유도)", "items": { "$ref": "#/components/schemas/BuildingCategoryTab" } },
          "floors": { "type": "array", "description": "층별 시설 목록", "items": { "$ref": "#/components/schemas/BuildingFloorPlaces" } }
        },
        "required": ["id", "name", "favorite"]
      },
      "PlaceDetail": {
        "type": "object",
        "description": "장소(비건물) 상세 응답. 강의실 코드/운영시간 없음.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 51 },
          "name": { "type": "string", "example": "행복식당" },
          "categoryCode": { "type": "string", "example": "korean" },
          "iconKey": { "type": "string", "example": "KoreanFoodIcon" },
          "imageUrl": { "type": "string", "nullable": true, "example": "https://thingo.kr/img/place/51.jpg" },
          "favorite": { "type": "boolean", "example": true },
          "distanceMeters": { "type": "integer", "nullable": true, "example": 150 },
          "latitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 위도. 내부 장소는 소속 건물 좌표", "example": 37.5796415 },
          "longitude": { "type": "number", "format": "double", "nullable": true, "description": "지도 마커용 경도. 내부 장소는 소속 건물 좌표", "example": 126.9250425 },
          "location": { "type": "string", "nullable": true, "description": "위치 (내부: 건물명+층수, 외부: 도로명주소)", "example": "서울 서대문구 거북골로 34" },
          "infoText": { "type": "string", "nullable": true, "description": "추가 정보 텍스트", "example": "현금 결제만 가능, 단체석 보유" }
        },
        "required": ["id", "name", "categoryCode", "favorite"]
      },
      "Arrival": {
        "type": "object",
        "description": "도착 예정 버스 1대의 정보",
        "properties": {
          "remainingTime": {
            "type": "string",
            "description": "도착까지 남은 시간 ('m분 s초' 또는 '곧 도착')",
            "example": "5분 10초"
          },
          "stationCount": {
            "type": "string",
            "nullable": true,
            "description": "남은 정류장 수 (arrmsg '[n번째 전]' 파싱). 정보 없으면 null",
            "example": "2정류장"
          },
          "congestion": {
            "type": "string",
            "nullable": true,
            "description": "혼잡도 (코드 0=정보없음은 null)",
            "enum": ["여유", "보통", "혼잡", "매우혼잡"],
            "example": "보통"
          }
        },
        "required": ["remainingTime"]
      },
      "BusItem": {
        "type": "object",
        "description": "개별 버스(노선) 도착 정보",
        "properties": {
          "routeName": {
            "type": "string",
            "description": "버스 노선 번호",
            "example": "7612"
          },
          "direction": {
            "type": "string",
            "description": "버스 운행 방면 / 종점",
            "example": "영등포구청역"
          },
          "lastBusTime": {
            "type": "string",
            "nullable": true,
            "description": "막차 시간 'HH:mm'. 정보 없으면 null",
            "example": "23:30"
          },
          "favorite": {
            "type": "boolean",
            "description": "로그인 사용자의 즐겨찾기 여부 (비로그인 시 false). true면 목록 상단 정렬",
            "example": true
          },
          "arrivals": {
            "type": "array",
            "description": "도착 예정 버스 목록 (최대 2개). 비어있으면 '도착 예정 정보 없음' 표기",
            "items": {
              "$ref": "#/components/schemas/Arrival"
            }
          }
        },
        "required": ["routeName", "direction", "favorite", "arrivals"]
      },
      "BusArrivalResponse": {
        "type": "object",
        "description": "버스 도착 정보 응답 (정류장 정보 + 버스 목록)",
        "properties": {
          "arsId": {
            "type": "string",
            "description": "조회된 정류장 ARS ID (백엔드가 station 키로부터 해석)",
            "example": "13195"
          },
          "stationName": {
            "type": "string",
            "description": "정류장 이름",
            "example": "명지대 (DMC센트럴아이파크아파트 방면)"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "description": "정류장 위도",
            "example": 37.5815
          },
          "lng": {
            "type": "number",
            "format": "double",
            "description": "정류장 경도",
            "example": 126.9187
          },
          "buses": {
            "type": "array",
            "description": "해당 정류장을 지나는 버스 도착 목록 (즐겨찾기 노선 상단)",
            "items": {
              "$ref": "#/components/schemas/BusItem"
            }
          }
        },
        "required": ["arsId", "stationName", "lat", "lng", "buses"]
      },
      "ApiResponseBusArrival": {
        "type": "object",
        "description": "버스 도착 정보 공통 응답 래퍼",
        "properties": {
          "status": {
            "type": "string",
            "example": "API 요청 성공"
          },
          "data": {
            "$ref": "#/components/schemas/BusArrivalResponse"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-19T09:05:12"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "에러 응답 형식",
        "properties": {
          "error": {
            "type": "string",
            "description": "에러 코드 식별자",
            "example": "BUS_ARRIVAL_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "description": "사용자 친화적 에러 메시지",
            "example": "[MJS] 버스 도착 정보를 찾을 수 없습니다."
          },
          "status": {
            "type": "integer",
            "description": "HTTP 상태 코드",
            "example": 404
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
