{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Mentorship API",
    "version": "v1.0.0",
    "description": "명지대학교 멘토관(멘토링) 신청(Application) API 명세서입니다.\n\n## 프론트 구현 흐름(권장)\n1) (멘토 리스트/상세 화면) 사용자가 멘토를 선택하고 신청 폼을 작성합니다.\n2) POST /mentorship/applications 로 신청을 생성합니다. (status=SUBMITTED)\n3) (신청자 마이페이지) GET /mentorship/applications/me 로 신청 목록 및 상태를 확인합니다.\n4) (멘토 대시보드) GET /mentorship/applications/mentor 로 멘토가 받은 신청 목록을 확인합니다.\n5) 멘토링 신청 상세를 확인하려면 GET /mentorship/applications/{applicationUuid} 를 호출합니다.\n6) 멘토가 수락하면 POST /mentorship/applications/{applicationUuid}/accept\n   - ApplicationStatus가 ACCEPTED로 변경됩니다. 이는 대화 시작 시에 내부적으로 동작할 것 \n   - (백엔드 구현 단계에서) ChatRoom 생성 트랜잭션을 이 accept에 묶는 것을 권장합니다.\n7) 멘토가 거절하면 POST /mentorship/applications/{applicationUuid}/reject\n   - ApplicationStatus가 REJECTED로 변경됩니다. 여기서 수락, 진행 중은 내부적으로 진행할 예정. \n\n## 권한 규칙(중요)\n- 모든 엔드포인트는 JWT 인증이 필요합니다.\n- 신청 생성: 로그인한 사용자(신청자)만 가능\n- 신청 목록 / 상세:\n  - /me: 신청자 본인의 신청만\n  - /mentor: 멘토(응답자) 본인에게 들어온 신청만\n  - /{applicationUuid}: 해당 신청의 신청자 또는 멘토만 접근 가능\n- 수락/거절: 해당 신청의 멘토만 가능\n",


  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Mentorship Application",
      "description": "멘토링 신청 생성/조회 및 수락·거절 API"
    }
  ],
  "paths": {
    "/mentorship/applications": {
      "post": {
        "tags": ["Mentorship Application"],
        "summary": "멘토링 신청 생성",
        "description": "신청자가 특정 멘토에게 멘토링을 신청합니다.\n\n- 생성 직후 신청 상태는 SUBMITTED 입니다.\n- 개인정보 이용 동의(privacyAgreement)가 true여야 합니다.\n- 이 API는 \"신청 폼 제출\" 버튼에 매핑하는 것을 권장합니다.",
        "security": [
          { "Authorization": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApplicationCreateRequest" },
              "example": {
                "mentorUuid": "f5dfdaef-4149-4420-b227-93bfa87e1428",
                "name": "김현빈",
                "studentNumber": "60201234",
                "department": "데이터사이언스",
                "grade": "4",
                "phone": "010-1234-5678",
                "email": "hyunbin.kim@mju.ac.kr",
                "topic": "백엔드 커리어/기술스택 상담",
                "privacyAgreement": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "신청 생성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseApplicationCreateResponse" },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "applicationUuid": "2b8c2e88-0e3a-4a65-8c8c-2c8f4c9c4d3b",
                    "status": "SUBMITTED"
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청(필수값 누락, privacyAgreement=false 등)"
          },
          "401": {
            "description": "인증 실패"
          }
        }
      }
    },
    "/mentorship/applications/me": {
      "get": {
        "tags": ["Mentorship Application"],
        "summary": "내 신청 목록 조회(신청자)",
        "description": "로그인한 사용자가 \"신청자\"로서 생성한 신청 목록을 페이지 단위로 조회합니다.\n\n- 프론트 권장: 마이페이지/내 신청 내역 화면에서 사용\n- 목록에서는 신청 상태(SUBMITTED/ACCEPTED/REJECTED)와 상대방(멘토) 식별 정보를 카드 형태로 노출하는 것을 권장합니다.",
        "security": [
          { "Authorization": [] }
        ],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseApplicationSummaryPage" },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "status": "API 요청 성공",
                    "data": {
                      "content": [
                        {
                          "applicationUuid": "bcc5ebba-df6f-4990-9931-4bee1e777b60",
                          "status": "SUBMITTED",
                          "applicantUuid": "506c9a5a-785a-4573-a576-f90186ef783e",
                          "applicantEmail": "kimgusqls1@mju.ac.kr",
                          "mentorUuid": "f5dfdaef-4149-4420-b227-93bfa87e1428",
                          "mentorEmail": "MJSmentor@mju.ac.kr",
                          "createdAt": "2026-01-29T13:00:57.858655"
                        },
                        {
                          "applicationUuid": "929c203d-8493-46c2-a7f8-b79f569efdbd",
                          "status": "SUBMITTED",
                          "applicantUuid": "506c9a5a-785a-4573-a576-f90186ef783e",
                          "applicantEmail": "kimgusqls1@mju.ac.kr",
                          "mentorUuid": "f5dfdaef-4149-4420-b227-93bfa87e1428",
                          "mentorEmail": "MJSmentor@mju.ac.kr",
                          "createdAt": "2026-01-29T13:03:06.276421"
                        }
                      ],
                      "pageable": {
                        "pageNumber": 0,
                        "pageSize": 20,
                        "sort": {
                          "empty": true,
                          "sorted": false,
                          "unsorted": true
                        },
                        "offset": 0,
                        "paged": true,
                        "unpaged": false
                      },
                      "last": true,
                      "totalElements": 2,
                      "totalPages": 1,
                      "size": 20,
                      "number": 0,
                      "sort": {
                        "empty": true,
                        "sorted": false,
                        "unsorted": true
                      },
                      "first": true,
                      "numberOfElements": 2,
                      "empty": false
                    },
                    "timestamp": "2026-01-29T13:09:55.3589898"
                  }
                }
              }
            }
          },
          "401": { "description": "인증 실패" }
        }
      }
    },
    "/mentorship/applications/mentor": {
      "get": {
        "tags": ["Mentorship Application"],
        "summary": "받은 신청 목록 조회(멘토)",
        "description": "로그인한 사용자가 \"멘토(응답자)\"로서 받은 신청 목록을 페이지 단위로 조회합니다.\n\n- 프론트 권장: 멘토 대시보드/받은 신청함\n- 각 아이템에서 상세 보기로 이동 후, 수락/거절 액션을 제공하는 것을 권장합니다.",
        "security": [
          { "Authorization": [] }
        ],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseApplicationSummaryPage" },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "content": [
                      {
                        "applicationUuid": "2b8c2e88-0e3a-4a65-8c8c-2c8f4c9c4d3b",
                        "status": "SUBMITTED",
                        "applicantUuid": "11111111-1111-1111-1111-111111111111",
                        "applicantEmail": "hyunbin.kim@mju.ac.kr",
                        "mentorUuid": "f5dfdaef-4149-4420-b227-93bfa87e1428",
                        "mentorEmail": "mentor1@company.com",
                        "createdAt": "2026-01-29T10:15:30"
                      }
                    ],
                    "totalElements": 1,
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "401": { "description": "인증 실패" }
        }
      }
    },
    "/mentorship/applications/{applicationUuid}": {
      "get": {
        "tags": ["Mentorship Application"],
        "summary": "신청 상세 조회",
        "description": "특정 신청의 상세 정보를 조회합니다.\n\n- 접근 가능 대상: 해당 신청의 신청자 또는 멘토\n- 프론트 권장: 신청 상세 화면에서 신청자 정보/동의 여부/주제 등을 표시\n- 멘토 화면에서는 수락/거절 액션 버튼을 함께 제공하는 것을 권장합니다.",
        "security": [
          { "Authorization": [] }
        ],
        "parameters": [
          {
            "name": "applicationUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseApplicationDetailResponse" },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "status": "API 요청 성공",
                    "data": {
                      "applicationUuid": "929c203d-8493-46c2-a7f8-b79f569efdbd",
                      "status": "SUBMITTED",
                      "applicantUuid": "506c9a5a-785a-4573-a576-f90186ef783e",
                      "applicantEmail": "kimgusqls1@mju.ac.kr",
                      "mentorUuid": "f5dfdaef-4149-4420-b227-93bfa87e1428",
                      "mentorEmail": "MJSmentor@mju.ac.kr",
                      "name": "김현빈",
                      "studentNumber": "60201234",
                      "department": "데이터사이언스",
                      "grade": "4",
                      "phone": "010-1234-5678",
                      "email": "hyunbin.kim@mju.ac.kr",
                      "topic": "백엔드 커리어/기술스택 상담",
                      "privacyAgreement": true,
                      "createdAt": "2026-01-29T13:03:06.276421"
                    },
                    "timestamp": "2026-01-29T13:12:53.3340281"
                  }
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "403": { "description": "권한 없음(신청자/멘토가 아닌 사용자)" },
          "404": { "description": "신청을 찾을 수 없음" }
        }
      }
    },
    "/mentorship/applications/{applicationUuid}/accept": {
      "post": {
        "tags": ["Mentorship Application"],
        "summary": "신청 수락(멘토)",
        "description": "멘토가 신청을 수락합니다.\n\n- 상태 전이: SUBMITTED -> ACCEPTED\n- 권장 구현(백엔드): 이 시점에 ChatRoom을 함께 생성하여, 이후 실시간 대화 진입점을 연결합니다.\n- 프론트 권장: 수락 성공 후 \"채팅방 이동\" 또는 \"대화 시작\" CTA를 제공",
        "security": [
          { "Authorization": [] }
        ],
        "parameters": [
          {
            "name": "applicationUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "수락 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseVoid" },
                "example": {
                  "status": "API 요청 성공",
                  "data": null
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "403": { "description": "권한 없음(해당 신청의 멘토가 아님)" },
          "409": { "description": "상태 충돌(이미 ACCEPTED/REJECTED 등)" }
        }
      }
    },
    "/mentorship/applications/{applicationUuid}/reject": {
      "post": {
        "tags": ["Mentorship Application"],
        "summary": "신청 거절(멘토)",
        "description": "멘토가 신청을 거절합니다.\n\n- 상태 전이: SUBMITTED -> REJECTED\n- 프론트 권장: 거절 사유를 추가로 받는 UX가 필요하다면, 추후 RejectRequest 스키마를 별도로 추가할 수 있습니다.",
        "security": [
          { "Authorization": [] }
        ],
        "parameters": [
          {
            "name": "applicationUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "거절 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseVoid" },
                "example": {
                  "status": "API 요청 성공",
                  "data": null
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "403": { "description": "권한 없음(해당 신청의 멘토가 아님)" },
          "409": { "description": "상태 충돌(이미 ACCEPTED/REJECTED 등)" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ApplicationStatus": {
        "type": "string",
        "description": "멘토링 신청 상태",
        "enum": ["SUBMITTED", "ACCEPTED", "REJECTED"]
      },
      "ApplicationCreateRequest": {
        "type": "object",
        "required": [
          "mentorUuid",
          "name",
          "studentNumber",
          "department",
          "grade",
          "phone",
          "email",
          "topic",
          "privacyAgreement"
        ],
        "properties": {
          "mentorUuid": {
            "type": "string",
            "format": "uuid",
            "description": "신청 대상 멘토(Member)의 UUID"
          },
          "name": { "type": "string", "description": "신청자 이름(스냅샷)" },
          "studentNumber": { "type": "string", "description": "신청자 학번(8자리 등 정책에 따름)" },
          "department": { "type": "string", "description": "신청자 학과/전공(스냅샷)" },
          "grade": { "type": "string", "description": "신청자 학년(스냅샷)" },
          "phone": { "type": "string", "description": "신청자 연락처(스냅샷)" },
          "email": { "type": "string", "format": "email", "description": "신청자 이메일(스냅샷)" },
          "topic": { "type": "string", "description": "멘토링 상담 주제/요청 내용" },
          "privacyAgreement": {
            "type": "boolean",
            "description": "개인정보 이용 동의 여부(필수: true)"
          }
        }
      },
      "ApplicationCreateResponse": {
        "type": "object",
        "properties": {
          "applicationUuid": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/ApplicationStatus" }
        }
      },
      "ApplicationSummary": {
        "type": "object",
        "properties": {
          "applicationUuid": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/ApplicationStatus" },
          "applicantUuid": { "type": "string", "format": "uuid" },
          "applicantEmail": { "type": "string", "format": "email" },
          "mentorUuid": { "type": "string", "format": "uuid" },
          "mentorEmail": { "type": "string", "format": "email" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "ApplicationSummaryPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ApplicationSummary" }
          },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "ApplicationDetailResponse": {
        "type": "object",
        "properties": {
          "applicationUuid": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/ApplicationStatus" },
          "applicantUuid": { "type": "string", "format": "uuid" },
          "applicantEmail": { "type": "string", "format": "email" },
          "mentorUuid": { "type": "string", "format": "uuid" },
          "mentorEmail": { "type": "string", "format": "email" },
          "name": { "type": "string" },
          "studentNumber": { "type": "string" },
          "department": { "type": "string" },
          "grade": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "topic": { "type": "string" },
          "privacyAgreement": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },

      "ApiResponseVoid": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "응답 상태 메시지" },
          "data": { "type": "null" }
        }
      },
      "ApiResponseApplicationCreateResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "응답 상태 메시지" },
          "data": { "$ref": "#/components/schemas/ApplicationCreateResponse" }
        }
      },
      "ApiResponseApplicationSummaryPage": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "응답 상태 메시지" },
          "data": { "$ref": "#/components/schemas/ApplicationSummaryPage" }
        }
      },
      "ApiResponseApplicationDetailResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "응답 상태 메시지" },
          "data": { "$ref": "#/components/schemas/ApplicationDetailResponse" }
        }
      }
    }
  }
}
