{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Mentorship API",
    "version": "v1.0.0",
    "description": "명지대학교 멘토관(멘토링 프로그램) 관리자 API 명세서입니다. 모든 멘토 식별은 이메일 기반으로 처리됩니다."
  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Mentoring Program (Admin)",
      "description": "관리자 전용 멘토링 프로그램 생성 및 관리 API"
    }
  ],
  "paths": {
    "/admin/programs": {
      "post": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 생성",
        "description": "관리자가 새로운 멘토링 프로그램을 생성합니다. 멘토는 이메일 기준으로 지정됩니다.",
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProgramCreateRequest" },
              "example": {
                "title": "2025 상반기 AI 개발자 멘토링",
                "description": "쿠팡이츠 현직자가 전하는 실무 특강",
                "startDate": "2025-01-21",
                "endDate": "2025-01-21",
                "capacity": 100,
                "targetAudience": "재학생 전체",
                "location": "본관 대강당",
                "contact": "02-1234-5678",
                "preparation": "노트북 지참",
                "mentorEmails": [
                  "mentor1@company.com",
                  "mentor2@company.com"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "프로그램 생성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramCreateResponse" },
                "example": {
                  "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                  "title": "2025 상반기 AI 개발자 멘토링",
                  "startDate": "2025-01-21",
                  "endDate": "2025-01-21",
                  "capacity": 100,
                  "mentorEmails": [
                    "mentor1@company.com",
                    "mentor2@company.com"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 목록 조회",
        "description": "관리자가 멘토링 프로그램 목록을 페이지 단위로 조회합니다.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": {
            "description": "프로그램 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramSummaryPage" },
                "example": {
                  "content": [
                    {
                      "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                      "title": "2025 상반기 AI 개발자 멘토링",
                      "startDate": "2025-01-21",
                      "endDate": "2025-01-21",
                      "mentorCount": 2
                    }
                  ],
                  "totalElements": 1,
                  "totalPages": 1
                }
              }
            }
          }
        }
      }
    },
    "/admin/programs/{programUuid}": {
      "get": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 상세 조회",
        "description": "관리자가 특정 멘토링 프로그램의 상세 정보를 조회합니다.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "programUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "프로그램 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramDetailResponse" },
                "example": {
                  "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                  "title": "2025 상반기 AI 개발자 멘토링",
                  "description": "쿠팡이츠 현직자가 전하는 실무 특강",
                  "startDate": "2025-01-21",
                  "endDate": "2025-01-21",
                  "capacity": 100,
                  "targetAudience": "재학생 전체",
                  "location": "본관 대강당",
                  "contact": "02-1234-5678",
                  "preparation": "노트북 지참",
                  "mentorEmails": [
                    "mentor1@company.com",
                    "mentor2@company.com"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/programs/{programUuid}/mentors": {
      "post": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "프로그램에 멘토 추가",
        "description": "기존 멘토링 프로그램에 멘토를 이메일 기준으로 추가합니다.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "programUuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProgramMentorAddRequest" },
              "example": {
                "mentorEmails": [
                  "mentor3@company.com",
                  "mentor4@company.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "멘토 추가 성공"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ProgramCreateRequest": {
        "type": "object",
        "required": ["title", "description", "startDate", "endDate", "capacity", "mentorEmails"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "capacity": { "type": "integer" },
          "targetAudience": { "type": "string" },
          "location": { "type": "string" },
          "contact": { "type": "string" },
          "preparation": { "type": "string" },
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      },
      "ProgramCreateResponse": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "capacity": { "type": "integer" },
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      },
      "ProgramSummaryPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ProgramSummary" }
          },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "ProgramSummary": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "mentorCount": { "type": "integer" }
        }
      },
      "ProgramDetailResponse": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "capacity": { "type": "integer" },
          "targetAudience": { "type": "string" },
          "location": { "type": "string" },
          "contact": { "type": "string" },
          "preparation": { "type": "string" },
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      },
      "ProgramMentorAddRequest": {
        "type": "object",
        "properties": {
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      }
    }
  }
}
