{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Mentorship Admin API",
    "version": "v1.0.0",
    "description": "멘토관 관리자 전용 API 명세서입니다. 멘토 등록 및 관리 기능을 제공합니다."
  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Mentor Management (Admin)",
      "description": "관리자 및 운영자 전용 멘토 등록·관리 API"
    }
  ],
  "paths": {
    "/admin/mentors": {
      "post": {
        "tags": ["Mentor Management (Admin)"],
        "summary": "멘토 등록",
        "description": "관리자 또는 운영자가 새로운 멘토를 등록합니다. 등록된 멘토는 멘토링 프로그램에 참여할 수 있습니다.",
        "security": [
          { "Authorization": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MentorCreateRequest"
              },
              "example": {
                "email": "chulsoo.kim@company.com",
                "name" : "김철수",
                "password": "init123!@#",
                "displayName": "김00",
                "departmentName": "AI·개발·데이터",
                "introduction": "10년차 백엔드 개발자입니다. Python과 AWS 전문가로 활동하고 있습니다.",
                "profileImageUrl": "https://cdn.mjsearch.org/profile/mentor/kimchulsoo.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "멘토 등록 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MentorCreateResponse"
                },
                "example": {
                  "mentorProfileId": 12,
                  "mentorUuid": "b8c7b2b3-9c7c-4a9e-9d41-6a0f6c6c8e22",
                  "displayName": "김철수",
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (이미 멘토로 등록된 사용자 등)"
          },
          "403": {
            "description": "권한 없음 (ADMIN 또는 OPERATOR만 가능)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MentorCreateRequest": {
        "type": "object",
        "required": ["memberUuid", "displayName", "departmentName"],
        "properties": {
          "memberUuid": {
            "type": "string",
            "format": "uuid",
            "description": "멘토로 등록할 회원(Member)의 UUID"
          },
          "displayName": {
            "type": "string",
            "description": "멘토링 화면에 노출될 이름"
          },
          "departmentName": {
            "type": "string",
            "description": "소속 학과 또는 전문 분야"
          },
          "introduction": {
            "type": "string",
            "description": "멘토 소개글"
          },
          "profileImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "멘토 프로필 이미지 URL"
          },
          "active": {
            "type": "boolean",
            "description": "멘토 활동 가능 여부",
            "default": true
          }
        }
      },
      "MentorCreateResponse": {
        "type": "object",
        "properties": {
          "mentorProfileId": {
            "type": "integer",
            "description": "멘토 프로필 내부 ID"
          },
          "mentorUuid": {
            "type": "string",
            "format": "uuid",
            "description": "멘토 외부 식별 UUID"
          },
          "displayName": {
            "type": "string",
            "description": "멘토 노출 이름"
          },
          "active": {
            "type": "boolean",
            "description": "멘토 활동 상태"
          }
        }
      }
    }
  }
}
