{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU Mentorship Admin API",
    "version": "v1.0.0",
    "description": "멘토관 관리자 전용 API 명세서입니다. 멘토 등록 및 멘토링 프로그램 생성/조회 기능을 제공합니다."
  },
  "servers": [
    {
      "url": "https://api.mjsearch.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Mentor Management (Admin)",
      "description": "관리자 및 운영자 전용 멘토 등록·관리 API"
    },
    {
      "name": "Mentoring Program (Admin)",
      "description": "관리자 전용 멘토링 프로그램 생성 및 관리 API"
    }
  ],
  "paths": {
    "/admin/mentors": {
      "post": {
        "tags": ["Mentor Management (Admin)"],
        "summary": "멘토 등록",
        "description": "관리자 또는 운영자가 새로운 멘토를 등록합니다.",
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MentorCreateRequest" },
              "example": {
                "email": "chulsoo.kim@company.com",
                "name": "김철수",
                "password": "init123!@#",
                "displayName": "김00",
                "departmentName": "AI·개발·데이터",
                "introduction": "10년차 백엔드 개발자입니다. Python과 AWS 전문가로 활동하고 있습니다.",
                "profileImageUrl": "https://cdn.mjsearch.org/profile/mentor/kimchulsoo.jpg",
                "active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "멘토 등록 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MentorCreateResponse" },
                "example": {
                  "mentorProfileId": 12,
                  "mentorUuid": "b8c7b2b3-9c7c-4a9e-9d41-6a0f6c6c8e22",
                  "displayName": "김00",
                  "active": true
                }
              }
            }
          },
          "400": { "description": "잘못된 요청" },
          "403": { "description": "권한 없음 (ADMIN 또는 OPERATOR만 가능)" }
        }
      }
    },

    "/admin/programs": {
      "post": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 생성",
        "description": "관리자가 새로운 멘토링 프로그램을 생성합니다. 멘토는 이메일 기준으로 지정됩니다.\n\n- 신청 기간(applyStartDate/applyEndDate)\n- 프로그램 진행 기간(programStartDate/programEndDate)",
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProgramCreateRequest" },
              "example": {
                "title": "2026 상반기 AI 개발자 멘토링",
                "description": "현직자가 전하는 실무 특강",
                "applyStartDate": "2026-02-01",
                "applyEndDate": "2026-02-10",
                "programStartDate": "2026-02-15",
                "programEndDate": "2026-02-15",
                "capacity": 100,
                "targetAudience": "재학생 전체",
                "location": "본관 대강당",
                "contact": "02-1234-5678",
                "preparation": "노트북 지참",
                "mentorEmails": ["mentor1@company.com", "mentor2@company.com"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "프로그램 생성 성공 (컨트롤러가 DTO를 그대로 반환)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramCreateResponse" },
                "example": {
                  "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                  "title": "2026 상반기 AI 개발자 멘토링",
                  "applyStartDate": "2026-02-01",
                  "applyEndDate": "2026-02-10",
                  "programStartDate": "2026-02-15",
                  "programEndDate": "2026-02-15",
                  "capacity": 100,
                  "mentorEmails": ["mentor1@company.com", "mentor2@company.com"]
                }
              }
            }
          },
          "403": { "description": "권한 없음" }
        }
      },

      "get": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 목록 조회",
        "description": "관리자가 멘토링 프로그램 목록을 페이지 단위로 조회합니다.\n\n- 응답은 Spring Data Page 형태입니다.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "sort", "in": "query", "schema": { "type": "string" }, "description": "예: createdAt,desc" }
        ],
        "responses": {
          "200": {
            "description": "프로그램 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramSummaryPage" },
                "example": {
                  "content": [
                    {
                      "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                      "title": "2026 상반기 AI 개발자 멘토링",
                      "applyStartDate": "2026-02-01",
                      "applyEndDate": "2026-02-10",
                      "programStartDate": "2026-02-15",
                      "programEndDate": "2026-02-15",
                      "mentorCount": 2
                    }
                  ],
                  "totalElements": 1,
                  "totalPages": 1,
                  "number": 0,
                  "size": 10
                }
              }
            }
          }
        }
      }
    },

    "/admin/programs/{programId}": {
      "get": {
        "tags": ["Mentoring Program (Admin)"],
        "summary": "멘토링 프로그램 상세 조회",
        "description": "관리자가 특정 멘토링 프로그램의 상세 정보를 조회합니다.",
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "프로그램 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgramDetailResponse" },
                "example": {
                  "programUuid": "9f5c0a22-8c3e-4e9e-8f0a-3c1f87dfe921",
                  "title": "2026 상반기 AI 개발자 멘토링",
                  "description": "현직자가 전하는 실무 특강",
                  "applyStartDate": "2026-02-01",
                  "applyEndDate": "2026-02-10",
                  "programStartDate": "2026-02-15",
                  "programEndDate": "2026-02-15",
                  "capacity": 100,
                  "targetAudience": "재학생 전체",
                  "location": "본관 대강당",
                  "contact": "02-1234-5678",
                  "preparation": "노트북 지참",
                  "mentorEmails": ["mentor1@company.com", "mentor2@company.com"]
                }
              }
            }
          },
          "404": { "description": "존재하지 않는 프로그램" }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MentorCreateRequest": {
        "type": "object",
        "required": ["email", "name", "password", "displayName", "departmentName"],
        "properties": {
          "email": { "type": "string", "format": "email", "description": "멘토 계정 이메일" },
          "name": { "type": "string", "description": "멘토 실명" },
          "password": { "type": "string", "description": "초기 비밀번호" },
          "displayName": { "type": "string", "description": "멘토링 화면에 노출될 이름" },
          "departmentName": { "type": "string", "description": "소속 학과 또는 전문 분야" },
          "introduction": { "type": "string", "description": "멘토 소개글" },
          "profileImageUrl": { "type": "string", "format": "uri", "description": "멘토 프로필 이미지 URL" },
          "active": { "type": "boolean", "description": "멘토 활동 가능 여부", "default": true }
        }
      },
      "MentorCreateResponse": {
        "type": "object",
        "properties": {
          "mentorProfileId": { "type": "integer", "description": "멘토 프로필 내부 ID" },
          "mentorUuid": { "type": "string", "format": "uuid", "description": "멘토 외부 식별 UUID" },
          "displayName": { "type": "string", "description": "멘토 노출 이름" },
          "active": { "type": "boolean", "description": "멘토 활동 상태" }
        }
      },

      "ProgramCreateRequest": {
        "type": "object",
        "required": [
          "title",
          "description",
          "applyStartDate",
          "applyEndDate",
          "programStartDate",
          "programEndDate",
          "capacity",
          "mentorEmails"
        ],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },

          "applyStartDate": { "type": "string", "format": "date", "description": "신청 시작일" },
          "applyEndDate": { "type": "string", "format": "date", "description": "신청 종료일" },

          "programStartDate": { "type": "string", "format": "date", "description": "프로그램 시작일" },
          "programEndDate": { "type": "string", "format": "date", "description": "프로그램 종료일" },

          "capacity": { "type": "integer" },
          "targetAudience": { "type": "string" },
          "location": { "type": "string" },
          "contact": { "type": "string" },
          "preparation": { "type": "string" },
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      },

      "ProgramCreateResponse": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },

          "applyStartDate": { "type": "string", "format": "date" },
          "applyEndDate": { "type": "string", "format": "date" },

          "programStartDate": { "type": "string", "format": "date" },
          "programEndDate": { "type": "string", "format": "date" },

          "capacity": { "type": "integer" },

          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      },

      "ProgramSummaryPage": {
        "type": "object",
        "properties": {
          "content": { "type": "array", "items": { "$ref": "#/components/schemas/ProgramSummary" } },
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "number": { "type": "integer", "description": "현재 페이지 번호" },
          "size": { "type": "integer", "description": "페이지 사이즈" }
        }
      },

      "ProgramSummary": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },

          "applyStartDate": { "type": "string", "format": "date" },
          "applyEndDate": { "type": "string", "format": "date" },

          "programStartDate": { "type": "string", "format": "date" },
          "programEndDate": { "type": "string", "format": "date" },

          "mentorCount": { "type": "integer" }
        }
      },

      "ProgramDetailResponse": {
        "type": "object",
        "properties": {
          "programUuid": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string" },

          "applyStartDate": { "type": "string", "format": "date" },
          "applyEndDate": { "type": "string", "format": "date" },

          "programStartDate": { "type": "string", "format": "date" },
          "programEndDate": { "type": "string", "format": "date" },

          "capacity": { "type": "integer" },
          "targetAudience": { "type": "string" },
          "location": { "type": "string" },
          "contact": { "type": "string" },
          "preparation": { "type": "string" },
          "mentorEmails": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          }
        }
      }
    }
  }
}
