{
  "openapi": "3.0.1",
  "info": {
    "title": "MJS API",
    "description": "API 명세서 - 스프린트 1",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://MJS.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "communityBoard",
      "description": "사용자들이 작성하는 게시판입니다."
    },
    {
      "name": "weekly_diet",
      "description": "명지대학교 식단 제공 API 입니다."
    },
    {
      "name": "notice",
      "description": "명지대학교 공지사항 제공 API 입니다"
    }
  ],
  "paths": {
    "/communityBoard": {
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 목록 조회",
        "operationId": "getCommunityPosts",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "description": "page는 0부터 시작합니다.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "description": "size는 10이 디폴트 값입니다.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "자유게시판 제목"
                      },
                      "author": {
                        "type": "string",
                        "example": "user123"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-22T12:00:00Z"
                      }
                    }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "content": [
                      {
                        "uuid": "9b7e0506-1205-4cbe-83e9-b0dde53df7a8",
                        "title": "자전거 타고 괌 가는 방법",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:34.545354"
                      },
                      {
                        "uuid": "c48b7c17-5eb7-4dca-bbef-1309ed903964",
                        "title": "자전거 타고 괌 가는 방법0",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:36.722039"
                      },
                      {
                        "uuid": "4ecdbba2-18f5-44b8-b512-0a20b9d417d3",
                        "title": "자전거 타고 괌 가는 방법1",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:37.639607"
                      },
                      {
                        "uuid": "214b3939-5792-4b09-b642-b266d77eeae4",
                        "title": "자전거 타고 괌 가는 방법2",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:40.521407"
                      },
                      {
                        "uuid": "ce0a3cad-88a4-4f4a-b775-ed45fdbd7503",
                        "title": "자전거 타고 괌 가는 방법3",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:41.613037"
                      },
                      {
                        "uuid": "8903108f-e212-4f33-a159-5f96445507ef",
                        "title": "자전거 타고 괌 가는 방법3",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:43.683996"
                      },
                      {
                        "uuid": "2d6fb709-009f-42bd-a932-e46baae89313",
                        "title": "자전거 타고 괌 가는 방법4",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:45.133903"
                      },
                      {
                        "uuid": "64cbf6aa-252f-41db-8cb2-f662c7785375",
                        "title": "자전거 타고 괌 가는 방법5",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:46.861359"
                      },
                      {
                        "uuid": "aebd76e0-2c53-4df7-8330-4ae6774e2b34",
                        "title": "자전거 타고 괌 가는 방법6",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:22:49.294387"
                      },
                      {
                        "uuid": "86632ac0-af03-4a92-81d7-b12030647b96",
                        "title": "자전거 타고 괌 가는 방법6",
                        "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                        "contentImages": [
                          "https://example.com/image1.jpg",
                          "https://example.com/image2.jpg",
                          "https://example.com/image3.jpg"
                        ],
                        "viewCount": 0,
                        "published": true,
                        "publishedAt": "2025-01-04T22:39:10.309642"
                      }
                    ],
                    "pageable": {
                      "pageNumber": 0,
                      "pageSize": 10,
                      "sort": {
                        "empty": true,
                        "sorted": false,
                        "unsorted": true
                      },
                      "offset": 0,
                      "unpaged": false,
                      "paged": true
                    },
                    "last": true,
                    "totalPages": 1,
                    "totalElements": 10,
                    "size": 10,
                    "number": 0,
                    "sort": {
                      "empty": true,
                      "sorted": false,
                      "unsorted": true
                    },
                    "first": true,
                    "numberOfElements": 10,
                    "empty": false
                  },
                  "timestamp": "2025-01-04T22:39:18.6926803"
                }
              }
            }
          }
        }
      }
    },
    "/communityBoard/{id}": {
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 상세 조회",
        "operationId": "getCommunityPostById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "조회할 게시글의 UUID"
          }
        ],
        "responses": {
          "201": {
            "description": "게시글 상세 조회 성공",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "uuid": "aebd76e0-2c53-4df7-8330-4ae6774e2b34",
                    "title": "자전거 타고 괌 가는 방법6",
                    "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                    "contentImages": [
                      "https://example.com/image1.jpg",
                      "https://example.com/image2.jpg",
                      "https://example.com/image3.jpg"
                    ],
                    "viewCount": 0,
                    "published": true,
                    "publishedAt": "2025-01-04T22:22:49.2943874"
                  },
                  "timestamp": "2025-01-04T22:22:49.2994026"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "존재하지 않는 사용자",
            "content": {
              "application/json": {
                "example": {
                  "status": 404,
                  "error": "COMMUNITY_NOT_FOUND",
                  "message": "[MJS] 요청한 게시판을 찾을 수 없습니다."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시판 글 작성",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "contentImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["title", "content", "published"]
              },
              "example": {
                "title": "자전거 타고 괌 가는 방법6",
                "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼...",
                "published": true,
                "contentImages": [
                  "https://example.com/image1.jpg",
                  "https://example.com/image2.jpg",
                  "https://example.com/image3.jpg"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "uuid": "aebd76e0-2c53-4df7-8330-4ae6774e2b34",
                    "title": "자전거 타고 괌 가는 방법6",
                    "content": "우선 비행기 타고 가야하는데, 아 근데 문제는 자전거가 너무 큼. 우선 이거 톱으로 짤라서 가져가야됨. 근데 또 비싸잖슴? 그니까 본드로 도착해서 붙이는거 잊지 말라고",
                    "contentImages": [
                      "https://example.com/image1.jpg",
                      "https://example.com/image2.jpg",
                      "https://example.com/image3.jpg"
                    ],
                    "viewCount": 0,
                    "published": true,
                    "publishedAt": "2025-01-04T22:22:49.2943874"
                  },
                  "timestamp": "2025-01-04T22:22:49.2994026"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "patch": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 수정",
        "operationId": "patchCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "수정할 게시글의 UUID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "contentImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "uuid": "9b7e0506-1205-4cbe-83e9-b0dde53df7a8",
                    "title": "수정된 제목",
                    "content": "수정된 내용",
                    "contentImages": [
                      "https://example.com/updated_image1.jpg",
                      "https://example.com/updated_image2.jpg"
                    ],
                    "viewCount": 0,
                    "published": true,
                    "publishedAt": "2025-01-04T22:22:34.545354"
                  },
                  "timestamp": "2025-01-04T22:40:53.3258347"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "존재하지 않는 게시물",
            "content": {
              "application/json": {
                "example": {
                  "status": 404,
                  "error": "COMMUNITY_NOT_FOUND",
                  "message": "[MJS] 요청한 게시판을 찾을 수 없습니다."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 삭제",
        "operationId": "deleteCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "삭제할 게시글의 ID"
          }
        ],
        "responses": {
          "204": {
            "description": "게시글 삭제 성공"
          },
          "400": {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "존재하지 않는 게시물",
            "content": {
              "application/json": {
                "example": {
                  "status": 404,
                  "error": "COMMUNITY_NOT_FOUND",
                  "message": "[MJS] 요청한 게시판을 찾을 수 없습니다."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/weekly_diet": {
      "get": {
        "tags": [
          "weekly_diet"
        ],
        "summary": "이번주 식단 조회",
        "operationId": "getWeeklyDiet",
        "description": "이번 주 명지대학교 식단 정보를 조회합니다.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "조회 시작 날짜 (YYYY-MM-DD 형식). 입력하더라도 이번 주 데이터가 반환됩니다.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-30"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "조회 종료 날짜 (YYYY-MM-DD 형식). 입력하더라도 이번 주 데이터가 반환됩니다.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-05"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "이번 주 식단 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "12.30 ( 월 )"
                      },
                      "meals": {
                        "type": "object",
                        "properties": {
                          "조식": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "등록된 식단 내용이 없습니다."
                            }
                          },
                          "중식": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "장칼국수, 추가밥, 새우튀김&김말이, 햄야채볶음, 치커리오리엔탈무침, 깍두기, 새우칩"
                            }
                          },
                          "석식": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "등록된 식단 내용이 없습니다."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "식단 정보를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "이번 주 식단 정보를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notice": {
      "post": {
        "tags": [
          "notice"
        ],
        "summary": "공지사항 목록 조회",
        "operationId": "getNotices",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "공지사항 카테고리(일반, 학사, 장학/학자금, 진로/취업/창업, 학생활동, 학칙개정)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "조회할 연도 (기본값: 현재 연도)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호 (기본값: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "한 페이지당 표시할 항목 수 (기본값: 10)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "title": {
                            "type": "string",
                            "example": "[명지통합치료연구센터] 2025-1학기 돌봄 근로장학생 모집 안내"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.mju.ac.kr/mjukr/255/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGbWp1a3IlMkYxNDElMkYyMTc0ODMlMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2YmJzQ2xTZXElM0QlMjZiYnNPcGVuV3JkU2VxJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNmlzVmlldyUzRHRydWUlMjZwYXNzd29yZCUzRCUyNg%3D%3D"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024.12.20"
                          },
                          "category": {
                            "type": "string",
                            "example": "일반"
                          }
                        }
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "integer",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 5
                        },
                        "totalItems": {
                          "type": "integer",
                          "example": 50
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                        "example": "유효하지 않은 요청입니다."
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "공지사항을 찾을 수 없음",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status" : {
                        "type": "string",
                        "example": "fail"
                      },
                      "message": {
                        "type": "string",
                        "example": "해당 공지사항을 찾을 수 없습니다."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/notices/{id}": {
        "get": {
          "tags": [
            "notice"
          ],
          "summary": "공지사항 상세 조회",
          "operationId": "getNoticeById",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "조회할 공지사항 ID",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "공지사항 상세 조회 성공",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "[명지통합치료연구센터] 2025-1학기 돌봄 근로장학생 모집 안내"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.mju.ac.kr/mjukr/255/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGbWp1a3IlMkYxNDElMkYyMTc0ODMlMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2YmJzQ2xTZXElM0QlMjZiYnNPcGVuV3JkU2VxJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNmlzVmlldyUzRHRydWUlMjZwYXNzd29yZCUzRCUyNg%3D%3D"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024.12.20"
                      },
                      "category": {
                        "type": "string",
                        "example": "일반"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "잘못된 요청 데이터",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "fail"
                      },
                      "message": {
                        "type": "string",
                        "example": "유효하지 않은 요청입니다."
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "공지사항을 찾을 수 없음",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "fail"
                      },
                      "message": {
                        "type": "string",
                        "example": "해당 공지사항을 찾을 수 없습니다"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "responses": {
        "BadRequestError": {
          "description": "잘못된 요청",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorResponse"
              },
            "example": {
              "status": 400,
              "error": "BAD_REQUEST",
              "message": "[MJS] 잘못된 요청입니다."
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "인증되지 않은 사용자",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 401,
              "error": "UNAUTHORIZED",
              "message": "[MJS] 인증되지 않은 사용자입니다."
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "권한 부족 및 접근 금지",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 403,
              "error": "FORBIDDEN",
              "message": "[MJS] 권한이 부족하여 접근이 금지되었습니다."
            }
          }
        }
      },
      "accessDeniedError": {
        "description": "권한 부족 및 접근 금지",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 403,
              "error": "FORBIDDEN",
              "message": "[MJS] 토큰이 유효하지 않거나 사용자에게 해당 접근 권한이 없습니다."
            }
          }
        }
      },
      "NotFoundError": {
        "description": "요청한 자원을 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 404,
              "error": "NOT_FOUND_ERROR",
              "message": "[MJS] 요청한 자원을 찾을 수 없습니다."
            }
          }
        }
      },
      "MemberNotFoundError": {
        "description": "요청한 회원을 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 404,
              "error": "MEMBER_NOT_FOUND",
              "message": "[MJS] 존재하지 않는 게시물입니다."
            }
          }
        }
      },
      "InternalServerError": {
        "description": "내부 서버 에러",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 500,
              "error": "INTERNAL_SERVER_ERROR",
              "message": "[MJS] 내부 서버 에러가 발생했습니다."
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "요청이 잘못되었습니다."
          }
        }
      },
      "SignUpDto": {
        "required": [
          "emailId",
          "password"
        ],
        "type": "object",
        "properties": {
          "emailId": {
            "type": "string"
          },
          "password": {
            "maxLength": 16,
            "minLength": 8,
            "pattern": "^(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_+=-]).*$",
            "type": "string"
          },
          "marketingAgree": {
            "type": "boolean"
          }
        }
      },
      "TokenDto": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AccessTokenDTO": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          }
        }
      }
    }
  }
}
