{
  "openapi": "3.0.1",
  "info": {
    "title": "DDING API",
    "description": "API 명세서 - 스프린트 1",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://weable.me/api/v1"
    }
  ],
  "tags": [
    {
      "name": "communityBoard",
      "description": "사용자들이 작성하는 게시판입니다."
    },
    {
      "name": "weather",
      "description": "학교 날씨 제공 API 입니다."
    }
  ],
  "paths": {
    "/communityBoard": {
      "post": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시판 글 작성",
        "operationId": "createCommunityPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "이곳은 자유게시판입니다."
                  },
                  "author": {
                    "type": "string",
                    "example": "user123"
                  }
                },
                "required": ["title", "content", "author"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "이곳은 자유게시판입니다."
                    },
                    "author": {
                      "type": "string",
                      "example": "user123"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "필수 필드가 누락되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 목록 조회",
        "operationId": "getCommunityPosts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "자유게시판 제목"
                      },
                      "author": {
                        "type": "string",
                        "example": "user123"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-22T12:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/communityBoard/{id}": {
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 상세 조회",
        "operationId": "getCommunityPostById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "조회할 게시글의 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "이곳은 자유게시판입니다."
                    },
                    "author": {
                      "type": "string",
                      "example": "user123"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 수정",
        "operationId": "patchCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "수정할 게시글의 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "수정된 자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "수정된 내용입니다."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "게시글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "수정된 자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "수정된 내용입니다."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T14:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않은 데이터입니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 삭제",
        "operationId": "deleteCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "삭제할 게시글의 ID"
          }
        ],
        "responses": {
          "204": {
            "description": "게시글 삭제 성공"
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "삭제 요청이 유효하지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}