{
  "openapi": "3.0.1",
  "info": {
    "title": "MJS API",
    "description": "API 명세서 - 스프린트 1",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://MJS.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "communityBoard",
      "description": "사용자들이 작성하는 게시판입니다."
    },
    {
      "name": "weather",
      "description": "학교 날씨 제공 API 입니다."
    },
    {
      "name": "notice",
      "description": "명지대학교 공지사항 제공 API 입니다"
    }
  ],
  "paths": {
    "/communityBoard": {
      "post": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시판 글 작성",
        "operationId": "createCommunityPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "이곳은 자유게시판입니다."
                  },
                  "author": {
                    "type": "string",
                    "example": "user123"
                  }
                },
                "required": ["title", "content", "author"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "이곳은 자유게시판입니다."
                    },
                    "author": {
                      "type": "string",
                      "example": "user123"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "필수 필드가 누락되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 목록 조회",
        "operationId": "getCommunityPosts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "자유게시판 제목"
                      },
                      "author": {
                        "type": "string",
                        "example": "user123"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-22T12:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/communityBoard/{id}": {
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 상세 조회",
        "operationId": "getCommunityPostById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "조회할 게시글의 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "이곳은 자유게시판입니다."
                    },
                    "author": {
                      "type": "string",
                      "example": "user123"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 수정",
        "operationId": "patchCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "수정할 게시글의 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "수정된 자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "수정된 내용입니다."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "게시글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "수정된 자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "수정된 내용입니다."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T14:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않은 데이터입니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 삭제",
        "operationId": "deleteCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "삭제할 게시글의 ID"
          }
        ],
        "responses": {
          "204": {
            "description": "게시글 삭제 성공"
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "삭제 요청이 유효하지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notice": {
      "post": {
        "tags": [
          "notice"
        ],
        "summary": "공지사항 목록 조회",
        "operationId": "getNotices",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "공지사항 카테고리(일반, 학사, 장학/학자금, 진로/취업/창업, 학생활동, 학칙개정)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "조회할 연도 (기본값: 현재 연도)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호 (기본값: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "한 페이지당 표시할 항목 수 (기본값: 10)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "title": {
                            "type": "string",
                            "example": "[명지통합치료연구센터] 2025-1학기 돌봄 근로장학생 모집 안내"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.mju.ac.kr/mjukr/255/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGbWp1a3IlMkYxNDElMkYyMTc0ODMlMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2YmJzQ2xTZXElM0QlMjZiYnNPcGVuV3JkU2VxJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNmlzVmlldyUzRHRydWUlMjZwYXNzd29yZCUzRCUyNg%3D%3D"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024.12.20"
                          },
                          "category": {
                            "type": "string",
                            "example": "일반"
                          }
                        }
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "currentPage" : {
                          "type": "integer",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 5
                        },
                        "totalItems": {
                          "type": "integer",
                          "example": 50
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않은 요청입니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "공지사항을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status" : {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "해당 공지사항을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices/{id}": {
      "get": {
        "tags": [
          "notice"
        ],
        "summary": "공지사항 상세 조회",
        "operationId": "getNoticeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "조회할 공지사항 ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공지사항 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "[명지통합치료연구센터] 2025-1학기 돌봄 근로장학생 모집 안내"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://www.mju.ac.kr/mjukr/255/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGbWp1a3IlMkYxNDElMkYyMTc0ODMlMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2YmJzQ2xTZXElM0QlMjZiYnNPcGVuV3JkU2VxJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNmlzVmlldyUzRHRydWUlMjZwYXNzd29yZCUzRCUyNg%3D%3D"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024.12.20"
                    },
                    "category": {
                      "type": "string",
                      "example": "일반"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않은 요청입니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "공지사항을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "해당 공지사항을 찾을 수 없습니다"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}