{
  "openapi": "3.0.1",
  "info": {
    "title": "MJS API",
    "description": "API 명세서 - 스프린트 1",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://MJS.me/api/v1"
    }
  ],
  "tags": [
    {
      "name": "communityBoard",
      "description": "사용자들이 작성하는 게시판입니다."
    },
    {
      "name": "weather",
      "description": "학교 날씨 제공 API 입니다."
    }
  ],
  "paths": {
    "/communityBoard": {
      "post": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시판 글 작성",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "자유게시판 내용이 들어갈 것입니다."
                  }
                },
                "required": ["title", "content", "author"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "자유 게시판 내용 이시다!!!"
                    },
                    "author": {
                      "type": "string",
                      "example": "user 닉네임"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "필수 필드가 누락되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 목록 조회",
        "operationId": "getCommunityPosts",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "자유게시판 제목"
                      },
                      "author": {
                        "type": "string",
                        "example": "user123"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-22T12:00:00Z"
                      }
                    }
                  }
                },
                "example": {
                  "id" :  "61edd056-7b24-4c89-9744-cdbd45254205",
                  "title" : "자전거 타고 괌 가는 방법",
                  "preview" : "한 줄 미리보기가 들어갑니다",
                  "likes" : "4",
                  "commentCount" : "15",
                  "views" : "124"
                }
              }
            }
          }
        }
      }
    },
    "/communityBoard/{id}": {
      "get": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 상세 조회",
        "operationId": "getCommunityPostById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "조회할 게시글의 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "이곳은 자유게시판입니다."
                    },
                    "author": {
                      "type": "string",
                      "example": "user123"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "존재하지 않는 사용자",
            "content": {
              "application/json": {
                "example": {
                  "status": 404,
                  "error": "MEMBER_NOT_FOUND",
                  "message": "[WEABLE] 존재하지 않는 사용자입니다."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 수정",
        "operationId": "patchCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "수정할 게시글의 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "수정된 자유게시판 제목"
                  },
                  "content": {
                    "type": "string",
                    "example": "수정된 내용입니다."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "게시글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "수정된 자유게시판 제목"
                    },
                    "content": {
                      "type": "string",
                      "example": "수정된 내용입니다."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-22T14:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않은 데이터입니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "communityBoard"
        ],
        "summary": "게시글 삭제",
        "operationId": "deleteCommunityPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "삭제할 게시글의 ID"
          }
        ],
        "responses": {
          "204": {
            "description": "게시글 삭제 성공"
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "삭제 요청이 유효하지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "게시글을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequestError": {
        "description": "잘못된 요청",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 400,
              "error": "BAD_REQUEST",
              "message": "[MJS] 잘못된 요청입니다."
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "인증되지 않은 사용자",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 401,
              "error": "UNAUTHORIZED",
              "message": "[MJS] 인증되지 않은 사용자입니다."
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "권한 부족 및 접근 금지",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 403,
              "error": "FORBIDDEN",
              "message": "[MJS] 권한이 부족하여 접근이 금지되었습니다."
            }
          }
        }
      },
      "accessDeniedError": {
        "description": "권한 부족 및 접근 금지",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 403,
              "error": "FORBIDDEN",
              "message": "[MJS] 토큰이 유효하지 않거나 사용자에게 해당 접근 권한이 없습니다."
            }
          }
        }
      },
      "NotFoundError": {
        "description": "요청한 자원을 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 404,
              "error": "NOT_FOUND_ERROR",
              "message": "[MJS] 요청한 자원을 찾을 수 없습니다."
            }
          }
        }
      },
      "MemberNotFoundError": {
        "description": "요청한 회원을 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 404,
              "error": "MEMBER_NOT_FOUND",
              "message": "[MJS] 존재하지 않는 사용자입니다."
            }
          }
        }
      },
      "InternalServerError": {
        "description": "내부 서버 에러",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 500,
              "error": "INTERNAL_SERVER_ERROR",
              "message": "[MJS] 내부 서버 에러가 발생했습니다."
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP 상태 코드",
            "format": "int32"
          },
          "error": {
            "type": "string",
            "description": "오류 코드"
          },
          "message": {
            "type": "string",
            "description": "오류 메시지"
          }
        }
      },
      "SignUpDto": {
        "required": [
          "emailId",
          "password"
        ],
        "type": "object",
        "properties": {
          "emailId": {
            "type": "string"
          },
          "password": {
            "maxLength": 16,
            "minLength": 8,
            "pattern": "^(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_+=-]).*$",
            "type": "string"
          },
          "marketingAgree": {
            "type": "boolean"
          }
        }
      },
      "TokenDto": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AccessTokenDTO": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          }
        }
      }
    }
  }
}
